In [4]:
import pandas as pd
import numpy as np
from openbb_terminal.sdk import openbb
import warnings

%matplotlib inline

warnings.filterwarnings("ignore")

In [13]:
openbb.stocks.load('AAPL')

Loading Daily data for AAPL with starting period 2020-08-03.

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
date,,,,,,,,
2020-08-03,106.230943,109.605886,105.929044,106.955025,106.955025,308151200,0.000,0.0
2020-08-04,107.146463,108.773800,106.415018,107.669273,107.669273,173071600,0.000,0.0
2020-08-05,107.387031,108.383559,106.915763,108.059563,108.059563,121776800,0.000,0.0
2020-08-06,108.395802,112.330372,107.799360,111.829651,111.829651,202428800,0.000,0.0
2020-08-07,111.345255,111.807535,108.480604,109.287132,109.287132,198045600,0.205,0.0
...,...,...,...,...,...,...,...,...
2023-07-31,196.059998,196.490005,195.259995,196.449997,196.449997,38824100,0.000,0.0
2023-08-01,196.240005,196.729996,195.279999,195.610001,195.610001,35175100,0.000,0.0
2023-08-02,195.039993,195.179993,191.850006,192.580002,192.580002,50389300,0.000,0.0
2023-08-03,191.570007,192.369995,190.690002,191.169998,191.169998,61235200,0.000,0.0
2023-08-04,185.520004,187.380005,181.919998,181.990005,181.990005,115799700,0.000,0.0

In [6]:
start = "2018-01-01"
end = "2023-08-03"

symbols = ["SPY", "QQQ", "IWM", "GLD", "TLT"]

stock_data = openbb.economy.index(symbols, start_date = start, end_date = end)
stock_data

                   SPY         QQQ         IWM         GLD         TLT
Date
2018-01-02  244.918686  152.677368  143.543625  125.150002  111.123177
2018-01-03  246.467804  154.160873  143.692871  124.820000  111.654472
2018-01-04  247.506607  154.430588  144.075287  125.459999  111.636765
2018-01-05  249.156036  155.981552  144.373749  125.330002  111.317993
2018-01-08  249.611679  156.588470  144.597580  125.309998  111.247131
...                ...         ...         ...         ...         ...
2023-07-27  452.489990  376.619995  193.919998  180.419998   99.027069
2023-07-28  456.920013  383.480011  196.429993  181.860001   99.535660
2023-07-31  457.790009  383.679993  198.710007  182.350006   99.775002
2023-08-01  456.480011  382.790009  197.800003  180.460007   98.139999
2023-08-02  450.130005  374.390015  195.110001  179.600006   97.089996

[1405 rows x 5 columns]

In [27]:
openbb.stocks.options.chains('AAPL')

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
0,call,2023-08-11,50.0,138.21,131.20,132.45,0,0
1,put,2023-08-11,50.0,0.00,0.00,0.01,0,0
2,call,2023-08-11,60.0,0.00,121.35,123.30,0,0
3,put,2023-08-11,60.0,0.00,0.00,0.01,0,0
4,call,2023-08-11,65.0,0.00,116.30,118.70,0,0
...,...,...,...,...,...,...,...,...
1765,put,2025-12-19,290.0,101.00,106.25,109.55,0,0
1766,call,2025-12-19,300.0,4.75,4.60,4.80,4941,385
1767,put,2025-12-19,300.0,115.00,116.15,119.85,1,1
1768,call,2025-12-19,310.0,3.82,3.70,3.85,3304,162
1769,put,2025-12-19,310.0,0.00,0.00,0.00,0,0

In [28]:
#search parms
symbol = 'AAPL'
expy = '2023-08-11'

In [29]:
# Geting the chain data
chain_df = openbb.stocks.options.chains(symbol=symbol)
chain_df.head()

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
0,call,2023-08-11,50.0,138.21,131.20,132.45,0,0
1,put,2023-08-11,50.0,0.00,0.00,0.01,0,0
2,call,2023-08-11,60.0,0.00,121.35,123.30,0,0
3,put,2023-08-11,60.0,0.00,0.00,0.01,0,0
4,call,2023-08-11,65.0,0.00,116.30,118.70,0,0

In [32]:
# Looking at just the puts
puts_df = chain_df[chain_df.optionType == 'put']
puts_df

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
1,put,2023-08-11,50.0,0.00,0.00,0.01,0,0
3,put,2023-08-11,60.0,0.00,0.00,0.01,0,0
5,put,2023-08-11,65.0,0.00,0.00,0.01,0,0
7,put,2023-08-11,70.0,0.01,0.00,0.01,0,1
9,put,2023-08-11,75.0,0.00,0.00,0.01,0,0
...,...,...,...,...,...,...,...,...
1761,put,2025-12-19,270.0,73.65,86.05,89.45,1,0
1763,put,2025-12-19,280.0,88.00,96.20,99.60,0,0
1765,put,2025-12-19,290.0,101.00,106.25,109.55,0,0
1767,put,2025-12-19,300.0,115.00,116.15,119.85,1,1
1769,put,2025-12-19,310.0,0.00,0.00,0.00,0,0

In [80]:
# use the tob to get stock price
tob_price = openbb.stocks.tob(symbol)
tob_price

(   Size   Price
 0   360  178.45
 1   135  178.44
 2   123  178.43
 3   130  178.42
 4   229  178.41,
    Size   Price
 0   125  178.47
 1   369  178.48
 2   223  178.49
 3   530  178.50
 4   130  178.51)

In [81]:
#make df from the tob to access bid & ask
bid,ask = tob_price
quote_df = bid.join(ask, lsuffix= ': Bid', rsuffix = ': Ask')
quote_df

   Size: Bid  Price: Bid  Size: Ask  Price: Ask
0        360      178.45        125      178.47
1        135      178.44        369      178.48
2        123      178.43        223      178.49
3        130      178.42        530      178.50
4        229      178.41        130      178.51

In [82]:
# Calc spot price
spot = round((quote_df.iloc[0][1] + quote_df.iloc[0][3]) / 2,2)
spot

178.46

In [83]:
#add spot price to puts df

puts_df['spot'] = spot
puts_df

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
1,put,2023-08-11,50.0,0.00,0.00,0.01,0,0,178.46
3,put,2023-08-11,60.0,0.00,0.00,0.01,0,0,178.46
5,put,2023-08-11,65.0,0.00,0.00,0.01,0,0,178.46
7,put,2023-08-11,70.0,0.01,0.00,0.01,0,1,178.46
9,put,2023-08-11,75.0,0.00,0.00,0.01,0,0,178.46
...,...,...,...,...,...,...,...,...,...
1761,put,2025-12-19,270.0,73.65,86.05,89.45,1,0,178.46
1763,put,2025-12-19,280.0,88.00,96.20,99.60,0,0,178.46
1765,put,2025-12-19,290.0,101.00,106.25,109.55,0,0,178.46
1767,put,2025-12-19,300.0,115.00,116.15,119.85,1,1,178.46
1769,put,2025-12-19,310.0,0.00,0.00,0.00,0,0,178.46

In [84]:
#Filter for OTM only puts

otm_puts = puts_df[puts_df['strike'] < puts_df['spot']]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
1,put,2023-08-11,50.0,0.00,0.00,0.01,0,0,178.46
3,put,2023-08-11,60.0,0.00,0.00,0.01,0,0,178.46
5,put,2023-08-11,65.0,0.00,0.00,0.01,0,0,178.46
7,put,2023-08-11,70.0,0.01,0.00,0.01,0,1,178.46
9,put,2023-08-11,75.0,0.00,0.00,0.01,0,0,178.46
...,...,...,...,...,...,...,...,...,...
1719,put,2025-12-19,155.0,11.90,12.60,13.00,709,4,178.46
1721,put,2025-12-19,160.0,14.00,14.05,14.40,3472,41,178.46
1723,put,2025-12-19,165.0,15.50,15.40,16.00,1101,46,178.46
1725,put,2025-12-19,170.0,17.34,17.30,17.80,782,1337,178.46
1727,put,2025-12-19,175.0,18.50,18.60,19.65,2583,28,178.46

In [85]:
# Remove puts with no bid
otm_puts = otm_puts[otm_puts.bid >0.01]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
39,put,2023-08-11,150.0,0.02,0.02,0.03,314,527,178.46
41,put,2023-08-11,155.0,0.04,0.03,0.04,1643,522,178.46
43,put,2023-08-11,160.0,0.06,0.05,0.06,3894,1536,178.46
45,put,2023-08-11,162.5,0.07,0.07,0.08,54,415,178.46
47,put,2023-08-11,165.0,0.08,0.08,0.09,3441,2488,178.46
...,...,...,...,...,...,...,...,...,...
1719,put,2025-12-19,155.0,11.90,12.60,13.00,709,4,178.46
1721,put,2025-12-19,160.0,14.00,14.05,14.40,3472,41,178.46
1723,put,2025-12-19,165.0,15.50,15.40,16.00,1101,46,178.46
1725,put,2025-12-19,170.0,17.34,17.30,17.80,782,1337,178.46
1727,put,2025-12-19,175.0,18.50,18.60,19.65,2583,28,178.46

In [86]:
# add in mid price of puts
otm_puts['mid_price'] = round(otm_puts.bid + otm_puts.ask / 2, 2)
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price
39,put,2023-08-11,150.0,0.02,0.02,0.03,314,527,178.46,0.04
41,put,2023-08-11,155.0,0.04,0.03,0.04,1643,522,178.46,0.05
43,put,2023-08-11,160.0,0.06,0.05,0.06,3894,1536,178.46,0.08
45,put,2023-08-11,162.5,0.07,0.07,0.08,54,415,178.46,0.11
47,put,2023-08-11,165.0,0.08,0.08,0.09,3441,2488,178.46,0.12
...,...,...,...,...,...,...,...,...,...,...
1719,put,2025-12-19,155.0,11.90,12.60,13.00,709,4,178.46,19.10
1721,put,2025-12-19,160.0,14.00,14.05,14.40,3472,41,178.46,21.25
1723,put,2025-12-19,165.0,15.50,15.40,16.00,1101,46,178.46,23.40
1725,put,2025-12-19,170.0,17.34,17.30,17.80,782,1337,178.46,26.20
1727,put,2025-12-19,175.0,18.50,18.60,19.65,2583,28,178.46,28.42

In [87]:
# Find where the put price is greater than 1% of the spot
otm_puts = otm_puts[otm_puts.mid_price / otm_puts.spot > 0.01]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price
171,put,2023-08-18,177.5,1.43,1.38,1.43,11587,23947,178.46,2.09
283,put,2023-08-25,175.0,1.36,1.31,1.36,1954,2652,178.46,1.99
369,put,2023-09-01,175.0,1.77,1.74,1.78,1657,3852,178.46,2.63
455,put,2023-09-08,175.0,2.08,2.05,2.10,600,993,178.46,3.10
535,put,2023-09-15,170.0,1.55,1.52,1.56,40365,13524,178.46,2.30
...,...,...,...,...,...,...,...,...,...,...
1719,put,2025-12-19,155.0,11.90,12.60,13.00,709,4,178.46,19.10
1721,put,2025-12-19,160.0,14.00,14.05,14.40,3472,41,178.46,21.25
1723,put,2025-12-19,165.0,15.50,15.40,16.00,1101,46,178.46,23.40
1725,put,2025-12-19,170.0,17.34,17.30,17.80,782,1337,178.46,26.20
1727,put,2025-12-19,175.0,18.50,18.60,19.65,2583,28,178.46,28.42

In [88]:
# add in OTM col
otm_puts['otm'] = otm_puts.spot - otm_puts.strike
#otm_puts.drop(columns=['diff'], inplace=True)
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm
171,put,2023-08-18,177.5,1.43,1.38,1.43,11587,23947,178.46,2.09,0.96
283,put,2023-08-25,175.0,1.36,1.31,1.36,1954,2652,178.46,1.99,3.46
369,put,2023-09-01,175.0,1.77,1.74,1.78,1657,3852,178.46,2.63,3.46
455,put,2023-09-08,175.0,2.08,2.05,2.10,600,993,178.46,3.10,3.46
535,put,2023-09-15,170.0,1.55,1.52,1.56,40365,13524,178.46,2.30,8.46
...,...,...,...,...,...,...,...,...,...,...,...
1719,put,2025-12-19,155.0,11.90,12.60,13.00,709,4,178.46,19.10,23.46
1721,put,2025-12-19,160.0,14.00,14.05,14.40,3472,41,178.46,21.25,18.46
1723,put,2025-12-19,165.0,15.50,15.40,16.00,1101,46,178.46,23.40,13.46
1725,put,2025-12-19,170.0,17.34,17.30,17.80,782,1337,178.46,26.20,8.46
1727,put,2025-12-19,175.0,18.50,18.60,19.65,2583,28,178.46,28.42,3.46

In [89]:
# filter for at least $5 OTM
otm_puts = otm_puts[otm_puts.otm > 5]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm
535,put,2023-09-15,170.0,1.55,1.52,1.56,40365,13524,178.46,2.30,8.46
635,put,2023-09-22,170.0,1.83,1.69,1.86,108,580,178.46,2.62,8.46
717,put,2023-10-20,160.0,1.41,1.40,1.43,19703,2620,178.46,2.11,18.46
719,put,2023-10-20,165.0,1.99,1.99,2.02,7140,4587,178.46,3.00,13.46
721,put,2023-10-20,170.0,2.91,2.88,2.92,20692,3319,178.46,4.34,8.46
...,...,...,...,...,...,...,...,...,...,...,...
1717,put,2025-12-19,150.0,11.00,11.05,11.65,3850,62,178.46,16.88,28.46
1719,put,2025-12-19,155.0,11.90,12.60,13.00,709,4,178.46,19.10,23.46
1721,put,2025-12-19,160.0,14.00,14.05,14.40,3472,41,178.46,21.25,18.46
1723,put,2025-12-19,165.0,15.50,15.40,16.00,1101,46,178.46,23.40,13.46
1725,put,2025-12-19,170.0,17.34,17.30,17.80,782,1337,178.46,26.20,8.46

In [90]:
# Add time filtering to expiration
otm_puts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 535 to 1725
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   optionType    126 non-null    object
 1   expiration    126 non-null    object
 2   strike        126 non-null    float64
 3   lastPrice     126 non-null    float64
 4   bid           126 non-null    float64
 5   ask           126 non-null    float64
 6   openInterest  126 non-null    int64
 7   volume        126 non-null    int64
 8   spot          126 non-null    float64
 9   mid_price     126 non-null    float64
 10  otm           126 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 11.8+ KB

In [91]:
# right now, expiration is an object, convert to datetime
otm_puts.expiration = pd.to_datetime(otm_puts.expiration)

In [92]:
otm_puts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 535 to 1725
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   optionType    126 non-null    object
 1   expiration    126 non-null    datetime64[ns]
 2   strike        126 non-null    float64
 3   lastPrice     126 non-null    float64
 4   bid           126 non-null    float64
 5   ask           126 non-null    float64
 6   openInterest  126 non-null    int64
 7   volume        126 non-null    int64
 8   spot          126 non-null    float64
 9   mid_price     126 non-null    float64
 10  otm           126 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(1)
memory usage: 11.8+ KB

In [93]:
# add a dte col
otm_puts['dte'] = otm_puts.expiration - pd.datetime.now()
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
535,put,2023-09-15,170.0,1.55,1.52,1.56,40365,13524,178.46,2.30,8.46,38 days 09:42:24.219216
635,put,2023-09-22,170.0,1.83,1.69,1.86,108,580,178.46,2.62,8.46,45 days 09:42:24.219216
717,put,2023-10-20,160.0,1.41,1.40,1.43,19703,2620,178.46,2.11,18.46,73 days 09:42:24.219216
719,put,2023-10-20,165.0,1.99,1.99,2.02,7140,4587,178.46,3.00,13.46,73 days 09:42:24.219216
721,put,2023-10-20,170.0,2.91,2.88,2.92,20692,3319,178.46,4.34,8.46,73 days 09:42:24.219216
...,...,...,...,...,...,...,...,...,...,...,...,...
1717,put,2025-12-19,150.0,11.00,11.05,11.65,3850,62,178.46,16.88,28.46,864 days 09:42:24.219216
1719,put,2025-12-19,155.0,11.90,12.60,13.00,709,4,178.46,19.10,23.46,864 days 09:42:24.219216
1721,put,2025-12-19,160.0,14.00,14.05,14.40,3472,41,178.46,21.25,18.46,864 days 09:42:24.219216
1723,put,2025-12-19,165.0,15.50,15.40,16.00,1101,46,178.46,23.40,13.46,864 days 09:42:24.219216
1725,put,2025-12-19,170.0,17.34,17.30,17.80,782,1337,178.46,26.20,8.46,864 days 09:42:24.219216

In [94]:
# now convert the time delta (dte col) to just the days 
otm_puts.dte = otm_puts.dte.dt.days
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
535,put,2023-09-15,170.0,1.55,1.52,1.56,40365,13524,178.46,2.30,8.46,38
635,put,2023-09-22,170.0,1.83,1.69,1.86,108,580,178.46,2.62,8.46,45
717,put,2023-10-20,160.0,1.41,1.40,1.43,19703,2620,178.46,2.11,18.46,73
719,put,2023-10-20,165.0,1.99,1.99,2.02,7140,4587,178.46,3.00,13.46,73
721,put,2023-10-20,170.0,2.91,2.88,2.92,20692,3319,178.46,4.34,8.46,73
...,...,...,...,...,...,...,...,...,...,...,...,...
1717,put,2025-12-19,150.0,11.00,11.05,11.65,3850,62,178.46,16.88,28.46,864
1719,put,2025-12-19,155.0,11.90,12.60,13.00,709,4,178.46,19.10,23.46,864
1721,put,2025-12-19,160.0,14.00,14.05,14.40,3472,41,178.46,21.25,18.46,864
1723,put,2025-12-19,165.0,15.50,15.40,16.00,1101,46,178.46,23.40,13.46,864
1725,put,2025-12-19,170.0,17.34,17.30,17.80,782,1337,178.46,26.20,8.46,864

In [95]:
# Grabbing the puts between 25-45 dte
otm_puts_25_45 = otm_puts[otm_puts.dte.between(25,45)]
otm_puts_25_45

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
535,put,2023-09-15,170.0,1.55,1.52,1.56,40365,13524,178.46,2.30,8.46,38
635,put,2023-09-22,170.0,1.83,1.69,1.86,108,580,178.46,2.62,8.46,45

In [ ]:
# so now we have a list of options that are at least $5 OTM, 
# have a premium of 1% or more as compared to spot of stock 
# and are within 25-45 dte

In [77]:
otm_puts_25_45.to_csv('/Users/mikewenner/Desktop/CSV/otm_puts_25_45.csv')

In [78]:
from IPython.display import FileLink

In [ ]:
otm_puts_25_45.to_csv('otm_puts_25_45', index=True)

FileLink('otm_puts_25_45')

In [79]:
openbb.stocks.options.vsurf("AAPL")

    strike  impliedVolatility  openInterest  lastPrice  dte
0     50.0           5.406253             0     128.50    3
1     80.0           3.550782             1     114.55    3
2     85.0           3.412111             1     108.99    3
3     95.0           2.908206             1      99.95    3
4    100.0           2.698245             3      85.17    3
..     ...                ...           ...        ...  ...
42   270.0           0.159982             0      89.05  864
43   280.0           0.173836             0      88.00  864
44   290.0           0.000010             0     101.00  864
45   300.0           0.201546             1     120.10  864
46   310.0           0.214058             0     125.50  864

[1581 rows x 5 columns]