In [3]:
import pandas as pd
import numpy as np
from openbb_terminal.sdk import openbb
import warnings

%matplotlib inline

warnings.filterwarnings("ignore")

2023-08-24 18:22:22.505763: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
openbb.stocks.load('AAPL')

Loading Daily data for AAPL with starting period 2020-08-03.

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
date,,,,,,,,
2020-08-03,106.230943,109.605886,105.929044,106.955025,106.955025,308151200,0.000,0.0
2020-08-04,107.146463,108.773800,106.415018,107.669273,107.669273,173071600,0.000,0.0
2020-08-05,107.387031,108.383559,106.915763,108.059563,108.059563,121776800,0.000,0.0
2020-08-06,108.395802,112.330372,107.799360,111.829651,111.829651,202428800,0.000,0.0
2020-08-07,111.345255,111.807535,108.480604,109.287132,109.287132,198045600,0.205,0.0
...,...,...,...,...,...,...,...,...
2023-07-31,196.059998,196.490005,195.259995,196.449997,196.449997,38824100,0.000,0.0
2023-08-01,196.240005,196.729996,195.279999,195.610001,195.610001,35175100,0.000,0.0
2023-08-02,195.039993,195.179993,191.850006,192.580002,192.580002,50389300,0.000,0.0
2023-08-03,191.570007,192.369995,190.690002,191.169998,191.169998,61235200,0.000,0.0
2023-08-04,185.520004,187.380005,181.919998,181.990005,181.990005,115799700,0.000,0.0

In [6]:
start = "2018-01-01"
end = "2023-08-03"

symbols = ["SPY", "QQQ", "IWM", "GLD", "TLT"]

stock_data = openbb.economy.index(symbols, start_date = start, end_date = end)
stock_data

                   SPY         QQQ         IWM         GLD         TLT
Date
2018-01-02  244.918686  152.677368  143.543625  125.150002  111.123177
2018-01-03  246.467804  154.160873  143.692871  124.820000  111.654472
2018-01-04  247.506607  154.430588  144.075287  125.459999  111.636765
2018-01-05  249.156036  155.981552  144.373749  125.330002  111.317993
2018-01-08  249.611679  156.588470  144.597580  125.309998  111.247131
...                ...         ...         ...         ...         ...
2023-07-27  452.489990  376.619995  193.919998  180.419998   99.027069
2023-07-28  456.920013  383.480011  196.429993  181.860001   99.535660
2023-07-31  457.790009  383.679993  198.710007  182.350006   99.775002
2023-08-01  456.480011  382.790009  197.800003  180.460007   98.139999
2023-08-02  450.130005  374.390015  195.110001  179.600006   97.089996

[1405 rows x 5 columns]

In [27]:
openbb.stocks.options.chains('AAPL')

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
0,call,2023-08-11,50.0,138.21,131.20,132.45,0,0
1,put,2023-08-11,50.0,0.00,0.00,0.01,0,0
2,call,2023-08-11,60.0,0.00,121.35,123.30,0,0
3,put,2023-08-11,60.0,0.00,0.00,0.01,0,0
4,call,2023-08-11,65.0,0.00,116.30,118.70,0,0
...,...,...,...,...,...,...,...,...
1765,put,2025-12-19,290.0,101.00,106.25,109.55,0,0
1766,call,2025-12-19,300.0,4.75,4.60,4.80,4941,385
1767,put,2025-12-19,300.0,115.00,116.15,119.85,1,1
1768,call,2025-12-19,310.0,3.82,3.70,3.85,3304,162
1769,put,2025-12-19,310.0,0.00,0.00,0.00,0,0

## Filter through puts to sell that offer sufficient premiu as compared to stock price
* puts that are bid
* option premium that is at least 1% of the underlying stock price
* OTM puts at least $5 OTM or greater
* Only options with 25-45 DTE

In [25]:
# Search parms
# here we select a symbol and an expiration, we can omit the expy if we want to filter through all available contracts
symbol = 'MSFT'
expy = '2023-08-11'

In [26]:
# Geting the chain data
chain_df = openbb.stocks.options.chains(symbol=symbol) #here we could add expy=expy parm for a single expiration
chain_df.head()

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
0,call,2023-08-25,170.0,150.75,150.4,150.50,5,190
1,put,2023-08-25,170.0,0.01,0.0,0.01,1,0
2,call,2023-08-25,180.0,140.70,140.4,140.55,3,131
3,put,2023-08-25,180.0,0.01,0.0,0.01,3,0
4,call,2023-08-25,190.0,130.70,130.4,130.55,2,149

In [27]:
# Create a new df to filter out and look at just the puts
puts_df = chain_df[chain_df.optionType == 'put']
puts_df

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
1,put,2023-08-25,170.0,0.01,0.0,0.01,1,0
3,put,2023-08-25,180.0,0.01,0.0,0.01,3,0
5,put,2023-08-25,190.0,0.01,0.0,0.01,10,0
7,put,2023-08-25,200.0,0.01,0.0,0.01,8,0
9,put,2023-08-25,205.0,0.00,0.0,0.01,0,0
...,...,...,...,...,...,...,...,...
3135,put,2025-12-19,520.0,0.00,197.0,202.00,0,0
3137,put,2025-12-19,525.0,0.00,202.0,207.00,0,0
3139,put,2025-12-19,530.0,0.00,207.0,211.95,0,0
3141,put,2025-12-19,535.0,0.00,212.0,217.00,0,0
3143,put,2025-12-19,540.0,0.00,0.0,0.00,0,0

In [28]:
# Now we need the grab the price of the underlying
# use the tob to get active stock price data
tob_price = openbb.stocks.tob(symbol)
tob_price

(   Size   Price
 0     3  320.56
 1   200  320.55
 2     3  320.54
 3    53  320.53
 4     3  320.52,
    Size   Price
 0    50  320.70
 1    51  320.72
 2    20  320.73
 3    54  320.74
 4    53  320.76)

In [31]:
# Above tob_price is a tuple that gives both size and bid & ask price data
# make df from the tob & assign bid & ask cols
bid,ask = tob_price
quote_df = bid.join(ask, lsuffix= ': Bid', rsuffix = ': Ask')
quote_df

   Size: Bid  Price: Bid  Size: Ask  Price: Ask
0          3      320.56         50      320.70
1        200      320.55         51      320.72
2          3      320.54         20      320.73
3         53      320.53         54      320.74
4          3      320.52         53      320.76

In [32]:
# Calc spot price by averaging the bid and ask together
spot = round((quote_df.iloc[0][1] + quote_df.iloc[0][3]) / 2,2)
spot

320.63

In [33]:
# Add the calced spot price to puts df for ref

puts_df['spot'] = spot
puts_df

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
1,put,2023-08-25,170.0,0.01,0.0,0.01,1,0,320.63
3,put,2023-08-25,180.0,0.01,0.0,0.01,3,0,320.63
5,put,2023-08-25,190.0,0.01,0.0,0.01,10,0,320.63
7,put,2023-08-25,200.0,0.01,0.0,0.01,8,0,320.63
9,put,2023-08-25,205.0,0.00,0.0,0.01,0,0,320.63
...,...,...,...,...,...,...,...,...,...
3135,put,2025-12-19,520.0,0.00,197.0,202.00,0,0,320.63
3137,put,2025-12-19,525.0,0.00,202.0,207.00,0,0,320.63
3139,put,2025-12-19,530.0,0.00,207.0,211.95,0,0,320.63
3141,put,2025-12-19,535.0,0.00,212.0,217.00,0,0,320.63
3143,put,2025-12-19,540.0,0.00,0.0,0.00,0,0,320.63

In [34]:
# Filter for OTM only puts (strike is less than spot)

otm_puts = puts_df[puts_df['strike'] < puts_df['spot']]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
1,put,2023-08-25,170.0,0.01,0.00,0.01,1,0,320.63
3,put,2023-08-25,180.0,0.01,0.00,0.01,3,0,320.63
5,put,2023-08-25,190.0,0.01,0.00,0.01,10,0,320.63
7,put,2023-08-25,200.0,0.01,0.00,0.01,8,0,320.63
9,put,2023-08-25,205.0,0.00,0.00,0.01,0,0,320.63
...,...,...,...,...,...,...,...,...,...
3047,put,2025-12-19,300.0,32.38,32.10,34.55,1685,0,320.63
3049,put,2025-12-19,305.0,36.33,33.35,37.10,63,0,320.63
3051,put,2025-12-19,310.0,35.75,35.80,38.65,364,0,320.63
3053,put,2025-12-19,315.0,40.00,38.80,41.75,151,1,320.63
3055,put,2025-12-19,320.0,41.60,39.65,43.00,454,5,320.63

In [35]:
# Remove puts with no bid
otm_puts = otm_puts[otm_puts.bid >0.01]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
65,put,2023-08-25,307.5,0.02,0.02,0.03,3271,118,320.63
67,put,2023-08-25,310.0,0.02,0.02,0.03,4641,799,320.63
69,put,2023-08-25,312.5,0.04,0.03,0.04,3863,5251,320.63
71,put,2023-08-25,315.0,0.09,0.07,0.08,6256,4409,320.63
73,put,2023-08-25,317.5,0.31,0.27,0.29,2763,9048,320.63
...,...,...,...,...,...,...,...,...,...
3047,put,2025-12-19,300.0,32.38,32.10,34.55,1685,0,320.63
3049,put,2025-12-19,305.0,36.33,33.35,37.10,63,0,320.63
3051,put,2025-12-19,310.0,35.75,35.80,38.65,364,0,320.63
3053,put,2025-12-19,315.0,40.00,38.80,41.75,151,1,320.63
3055,put,2025-12-19,320.0,41.60,39.65,43.00,454,5,320.63

In [36]:
# add in mid price of the puts by averageing the bid/ask of the put
otm_puts['mid_price'] = round(otm_puts.bid + otm_puts.ask / 2, 2)
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price
65,put,2023-08-25,307.5,0.02,0.02,0.03,3271,118,320.63,0.04
67,put,2023-08-25,310.0,0.02,0.02,0.03,4641,799,320.63,0.04
69,put,2023-08-25,312.5,0.04,0.03,0.04,3863,5251,320.63,0.05
71,put,2023-08-25,315.0,0.09,0.07,0.08,6256,4409,320.63,0.11
73,put,2023-08-25,317.5,0.31,0.27,0.29,2763,9048,320.63,0.42
...,...,...,...,...,...,...,...,...,...,...
3047,put,2025-12-19,300.0,32.38,32.10,34.55,1685,0,320.63,49.38
3049,put,2025-12-19,305.0,36.33,33.35,37.10,63,0,320.63,51.90
3051,put,2025-12-19,310.0,35.75,35.80,38.65,364,0,320.63,55.12
3053,put,2025-12-19,315.0,40.00,38.80,41.75,151,1,320.63,59.68
3055,put,2025-12-19,320.0,41.60,39.65,43.00,454,5,320.63,61.15

In [37]:
# Find where the put price is greater than 1% of the spot
otm_puts = otm_puts[otm_puts.mid_price / otm_puts.spot > 0.01]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price
259,put,2023-09-01,315.0,2.29,2.18,2.22,3720,1133,320.63,3.29
261,put,2023-09-01,317.5,3.05,3.00,3.05,1488,1042,320.63,4.53
263,put,2023-09-01,320.0,4.00,4.00,4.10,7310,3040,320.63,6.05
435,put,2023-09-08,310.0,2.19,2.20,2.24,1514,161,320.63,3.32
437,put,2023-09-08,312.5,3.20,2.79,2.83,730,53,320.63,4.20
...,...,...,...,...,...,...,...,...,...,...
3047,put,2025-12-19,300.0,32.38,32.10,34.55,1685,0,320.63,49.38
3049,put,2025-12-19,305.0,36.33,33.35,37.10,63,0,320.63,51.90
3051,put,2025-12-19,310.0,35.75,35.80,38.65,364,0,320.63,55.12
3053,put,2025-12-19,315.0,40.00,38.80,41.75,151,1,320.63,59.68
3055,put,2025-12-19,320.0,41.60,39.65,43.00,454,5,320.63,61.15

In [38]:
# add in OTM col to show how far out of the money the put is
otm_puts['otm'] = otm_puts.spot - otm_puts.strike
#otm_puts.drop(columns=['diff'], inplace=True)
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm
259,put,2023-09-01,315.0,2.29,2.18,2.22,3720,1133,320.63,3.29,5.63
261,put,2023-09-01,317.5,3.05,3.00,3.05,1488,1042,320.63,4.53,3.13
263,put,2023-09-01,320.0,4.00,4.00,4.10,7310,3040,320.63,6.05,0.63
435,put,2023-09-08,310.0,2.19,2.20,2.24,1514,161,320.63,3.32,10.63
437,put,2023-09-08,312.5,3.20,2.79,2.83,730,53,320.63,4.20,8.13
...,...,...,...,...,...,...,...,...,...,...,...
3047,put,2025-12-19,300.0,32.38,32.10,34.55,1685,0,320.63,49.38,20.63
3049,put,2025-12-19,305.0,36.33,33.35,37.10,63,0,320.63,51.90,15.63
3051,put,2025-12-19,310.0,35.75,35.80,38.65,364,0,320.63,55.12,10.63
3053,put,2025-12-19,315.0,40.00,38.80,41.75,151,1,320.63,59.68,5.63
3055,put,2025-12-19,320.0,41.60,39.65,43.00,454,5,320.63,61.15,0.63

In [39]:
# Filter for at least $5 OTM
otm_puts = otm_puts[otm_puts.otm > 5]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm
259,put,2023-09-01,315.0,2.29,2.18,2.22,3720,1133,320.63,3.29,5.63
435,put,2023-09-08,310.0,2.19,2.20,2.24,1514,161,320.63,3.32,10.63
437,put,2023-09-08,312.5,3.20,2.79,2.83,730,53,320.63,4.20,8.13
439,put,2023-09-08,315.0,4.15,3.50,3.60,2223,249,320.63,5.30,5.63
617,put,2023-09-15,305.0,2.39,2.31,2.35,7930,235,320.63,3.49,15.63
...,...,...,...,...,...,...,...,...,...,...,...
3045,put,2025-12-19,295.0,30.72,30.35,33.65,370,0,320.63,47.18,25.63
3047,put,2025-12-19,300.0,32.38,32.10,34.55,1685,0,320.63,49.38,20.63
3049,put,2025-12-19,305.0,36.33,33.35,37.10,63,0,320.63,51.90,15.63
3051,put,2025-12-19,310.0,35.75,35.80,38.65,364,0,320.63,55.12,10.63
3053,put,2025-12-19,315.0,40.00,38.80,41.75,151,1,320.63,59.68,5.63

In [40]:
# So now we have a df of all the puts that are greater than $5 OTM and have a mid price (premium) that is at least 1% of the underlying spot

# But we also see that there are contracts wat out into 2025 in the df

# Now we want to filter the time down to something closer to today --> 25-45 DTE

In [41]:
# Add time filtering to expiration
otm_puts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316 entries, 259 to 3053
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   optionType    316 non-null    object
 1   expiration    316 non-null    object
 2   strike        316 non-null    float64
 3   lastPrice     316 non-null    float64
 4   bid           316 non-null    float64
 5   ask           316 non-null    float64
 6   openInterest  316 non-null    int64
 7   volume        316 non-null    int64
 8   spot          316 non-null    float64
 9   mid_price     316 non-null    float64
 10  otm           316 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 29.6+ KB

In [42]:
# right now, expiration is an object
# need convert to datetime that we can opeerate on
otm_puts.expiration = pd.to_datetime(otm_puts.expiration)

In [43]:
otm_puts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316 entries, 259 to 3053
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   optionType    316 non-null    object
 1   expiration    316 non-null    datetime64[ns]
 2   strike        316 non-null    float64
 3   lastPrice     316 non-null    float64
 4   bid           316 non-null    float64
 5   ask           316 non-null    float64
 6   openInterest  316 non-null    int64
 7   volume        316 non-null    int64
 8   spot          316 non-null    float64
 9   mid_price     316 non-null    float64
 10  otm           316 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(1)
memory usage: 29.6+ KB

In [44]:
# add a dte col by subtracting the expy from today
otm_puts['dte'] = otm_puts.expiration - pd.datetime.now()
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
259,put,2023-09-01,315.0,2.29,2.18,2.22,3720,1133,320.63,3.29,5.63,6 days 11:54:56.684713
435,put,2023-09-08,310.0,2.19,2.20,2.24,1514,161,320.63,3.32,10.63,13 days 11:54:56.684713
437,put,2023-09-08,312.5,3.20,2.79,2.83,730,53,320.63,4.20,8.13,13 days 11:54:56.684713
439,put,2023-09-08,315.0,4.15,3.50,3.60,2223,249,320.63,5.30,5.63,13 days 11:54:56.684713
617,put,2023-09-15,305.0,2.39,2.31,2.35,7930,235,320.63,3.49,15.63,20 days 11:54:56.684713
...,...,...,...,...,...,...,...,...,...,...,...,...
3045,put,2025-12-19,295.0,30.72,30.35,33.65,370,0,320.63,47.18,25.63,846 days 11:54:56.684713
3047,put,2025-12-19,300.0,32.38,32.10,34.55,1685,0,320.63,49.38,20.63,846 days 11:54:56.684713
3049,put,2025-12-19,305.0,36.33,33.35,37.10,63,0,320.63,51.90,15.63,846 days 11:54:56.684713
3051,put,2025-12-19,310.0,35.75,35.80,38.65,364,0,320.63,55.12,10.63,846 days 11:54:56.684713
3053,put,2025-12-19,315.0,40.00,38.80,41.75,151,1,320.63,59.68,5.63,846 days 11:54:56.684713

In [45]:
# now convert the time delta (dte col) to just the days 
otm_puts.dte = otm_puts.dte.dt.days
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
259,put,2023-09-01,315.0,2.29,2.18,2.22,3720,1133,320.63,3.29,5.63,6
435,put,2023-09-08,310.0,2.19,2.20,2.24,1514,161,320.63,3.32,10.63,13
437,put,2023-09-08,312.5,3.20,2.79,2.83,730,53,320.63,4.20,8.13,13
439,put,2023-09-08,315.0,4.15,3.50,3.60,2223,249,320.63,5.30,5.63,13
617,put,2023-09-15,305.0,2.39,2.31,2.35,7930,235,320.63,3.49,15.63,20
...,...,...,...,...,...,...,...,...,...,...,...,...
3045,put,2025-12-19,295.0,30.72,30.35,33.65,370,0,320.63,47.18,25.63,846
3047,put,2025-12-19,300.0,32.38,32.10,34.55,1685,0,320.63,49.38,20.63,846
3049,put,2025-12-19,305.0,36.33,33.35,37.10,63,0,320.63,51.90,15.63,846
3051,put,2025-12-19,310.0,35.75,35.80,38.65,364,0,320.63,55.12,10.63,846
3053,put,2025-12-19,315.0,40.00,38.80,41.75,151,1,320.63,59.68,5.63,846

In [46]:
# Grabbing the puts between 25-45 dte
otm_puts_25_45 = otm_puts[otm_puts.dte.between(25,45)]
otm_puts_25_45

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
769,put,2023-09-22,300.0,2.54,2.26,2.31,943,56,320.63,3.42,20.63,27
771,put,2023-09-22,305.0,3.50,3.10,3.20,492,7,320.63,4.70,15.63,27
773,put,2023-09-22,310.0,4.87,4.30,4.40,653,19,320.63,6.50,10.63,27
775,put,2023-09-22,315.0,5.83,5.85,5.95,448,44,320.63,8.82,5.63,27
885,put,2023-09-29,295.0,2.43,2.15,2.22,650,34,320.63,3.26,25.63,34
887,put,2023-09-29,300.0,2.97,2.90,2.96,760,90,320.63,4.38,20.63,34
889,put,2023-09-29,305.0,4.31,3.85,4.00,661,52,320.63,5.85,15.63,34
891,put,2023-09-29,310.0,5.55,5.15,5.25,405,128,320.63,7.78,10.63,34
893,put,2023-09-29,315.0,7.45,6.75,6.90,401,75,320.63,10.20,5.63,34
981,put,2023-10-06,290.0,2.35,2.13,2.21,60,4,320.63,3.24,30.63,41
983,put,2023-10-06,295.0,2.90,2.76,2.85,32,25,320.63,4.18,25.63,41
985,put,2023-10-06,300.0,4.05,3.55,3.70,27,10,320.63,5.40,20.63,41
987,put,2023-10-06,305.0,4.19,4.60,4.75,22,1,320.63,6.98,15.63,41
989,put,2023-10-06,310.0,6.50,5.95,6.10,21,13,320.63,9.00,10.63,41
991,put,2023-10-06,315.0,8.40,7.60,7.75,15,14,320.63,11.48,5.63,41

In [ ]:
# so now we have a list of options that are at least $5 OTM, 
# have a premium of 1% or more as compared to spot of stock 
# and are within 25-45 dte

In [77]:
otm_puts_25_45.to_csv('/Users/mikewenner/Desktop/CSV/otm_puts_25_45.csv')

In [78]:
from IPython.display import FileLink

In [ ]:
otm_puts_25_45.to_csv('otm_puts_25_45', index=True)

FileLink('otm_puts_25_45')

In [47]:
openbb.stocks.options.vsurf("MSFT")

    strike  impliedVolatility  openInterest  lastPrice  dte
0    170.0           6.269533           5.0     150.65   -1
1    180.0           5.375003           3.0     141.05   -1
2    190.0           5.396488           2.0     130.70   -1
3    200.0           4.492192          22.0     119.85   -1
4    220.0           4.080083           5.0     100.80   -1
..     ...                ...           ...        ...  ...
63   450.0           0.132272           5.0     117.00  846
64   455.0           0.135568           1.0     122.70  846
65   460.0           0.137887           2.0     136.51  846
66   480.0           0.158791           0.0     144.80  846
67   510.0           0.168893           0.0     174.78  846

[2750 rows x 5 columns]