In [3]:
import pandas as pd
import numpy as np
from openbb_terminal.sdk import openbb
import warnings

%matplotlib inline

warnings.filterwarnings("ignore")

2023-08-24 18:22:22.505763: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
openbb.stocks.load('AAPL')

Loading Daily data for AAPL with starting period 2020-08-03.

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
date,,,,,,,,
2020-08-03,106.230943,109.605886,105.929044,106.955025,106.955025,308151200,0.000,0.0
2020-08-04,107.146463,108.773800,106.415018,107.669273,107.669273,173071600,0.000,0.0
2020-08-05,107.387031,108.383559,106.915763,108.059563,108.059563,121776800,0.000,0.0
2020-08-06,108.395802,112.330372,107.799360,111.829651,111.829651,202428800,0.000,0.0
2020-08-07,111.345255,111.807535,108.480604,109.287132,109.287132,198045600,0.205,0.0
...,...,...,...,...,...,...,...,...
2023-07-31,196.059998,196.490005,195.259995,196.449997,196.449997,38824100,0.000,0.0
2023-08-01,196.240005,196.729996,195.279999,195.610001,195.610001,35175100,0.000,0.0
2023-08-02,195.039993,195.179993,191.850006,192.580002,192.580002,50389300,0.000,0.0
2023-08-03,191.570007,192.369995,190.690002,191.169998,191.169998,61235200,0.000,0.0
2023-08-04,185.520004,187.380005,181.919998,181.990005,181.990005,115799700,0.000,0.0

In [6]:
start = "2018-01-01"
end = "2023-08-03"

symbols = ["SPY", "QQQ", "IWM", "GLD", "TLT"]

stock_data = openbb.economy.index(symbols, start_date = start, end_date = end)
stock_data

                   SPY         QQQ         IWM         GLD         TLT
Date
2018-01-02  244.918686  152.677368  143.543625  125.150002  111.123177
2018-01-03  246.467804  154.160873  143.692871  124.820000  111.654472
2018-01-04  247.506607  154.430588  144.075287  125.459999  111.636765
2018-01-05  249.156036  155.981552  144.373749  125.330002  111.317993
2018-01-08  249.611679  156.588470  144.597580  125.309998  111.247131
...                ...         ...         ...         ...         ...
2023-07-27  452.489990  376.619995  193.919998  180.419998   99.027069
2023-07-28  456.920013  383.480011  196.429993  181.860001   99.535660
2023-07-31  457.790009  383.679993  198.710007  182.350006   99.775002
2023-08-01  456.480011  382.790009  197.800003  180.460007   98.139999
2023-08-02  450.130005  374.390015  195.110001  179.600006   97.089996

[1405 rows x 5 columns]

In [27]:
openbb.stocks.options.chains('AAPL')

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
0,call,2023-08-11,50.0,138.21,131.20,132.45,0,0
1,put,2023-08-11,50.0,0.00,0.00,0.01,0,0
2,call,2023-08-11,60.0,0.00,121.35,123.30,0,0
3,put,2023-08-11,60.0,0.00,0.00,0.01,0,0
4,call,2023-08-11,65.0,0.00,116.30,118.70,0,0
...,...,...,...,...,...,...,...,...
1765,put,2025-12-19,290.0,101.00,106.25,109.55,0,0
1766,call,2025-12-19,300.0,4.75,4.60,4.80,4941,385
1767,put,2025-12-19,300.0,115.00,116.15,119.85,1,1
1768,call,2025-12-19,310.0,3.82,3.70,3.85,3304,162
1769,put,2025-12-19,310.0,0.00,0.00,0.00,0,0

In [4]:
#search parms
symbol = 'MSFT'
expy = '2023-08-11'

In [5]:
# Geting the chain data
chain_df = openbb.stocks.options.chains(symbol=symbol)
chain_df.head()

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
0,call,2023-08-25,170.0,153.80,149.45,150.10,5,0
1,put,2023-08-25,170.0,0.01,0.00,0.01,1,0
2,call,2023-08-25,180.0,147.25,139.95,141.95,3,0
3,put,2023-08-25,180.0,0.01,0.00,0.01,3,0
4,call,2023-08-25,190.0,139.10,130.10,132.00,3,1

In [6]:
# Looking at just the puts
puts_df = chain_df[chain_df.optionType == 'put']
puts_df

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume
1,put,2023-08-25,170.0,0.01,0.00,0.01,1,0
3,put,2023-08-25,180.0,0.01,0.00,0.01,3,0
5,put,2023-08-25,190.0,0.01,0.00,0.01,10,0
7,put,2023-08-25,200.0,0.01,0.00,0.01,8,0
9,put,2023-08-25,205.0,0.00,0.00,0.01,0,0
...,...,...,...,...,...,...,...,...
3127,put,2025-12-19,520.0,0.00,197.50,201.50,0,0
3129,put,2025-12-19,525.0,0.00,202.00,206.50,0,0
3131,put,2025-12-19,530.0,0.00,207.55,211.40,0,0
3133,put,2025-12-19,535.0,0.00,212.50,216.45,0,0
3135,put,2025-12-19,540.0,0.00,0.00,0.00,0,0

In [7]:
# use the tob to get stock price
tob_price = openbb.stocks.tob(symbol)
tob_price

(   Size   Price
 0     1  319.41
 1     3  319.37
 2     2  318.41
 3    52  318.40
 4     2  318.37,
    Size   Price
 0   100  321.22
 1     3  332.00
 2     1  339.90
 3     9  350.00
 4   250  351.00)

In [8]:
#make df from the tob to access bid & ask
bid,ask = tob_price
quote_df = bid.join(ask, lsuffix= ': Bid', rsuffix = ': Ask')
quote_df

   Size: Bid  Price: Bid  Size: Ask  Price: Ask
0          1      319.41        100      321.22
1          3      319.37          3      332.00
2          2      318.41          1      339.90
3         52      318.40          9      350.00
4          2      318.37        250      351.00

In [9]:
# Calc spot price
spot = round((quote_df.iloc[0][1] + quote_df.iloc[0][3]) / 2,2)
spot

320.32

In [10]:
#add spot price to puts df

puts_df['spot'] = spot
puts_df

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
1,put,2023-08-25,170.0,0.01,0.00,0.01,1,0,320.32
3,put,2023-08-25,180.0,0.01,0.00,0.01,3,0,320.32
5,put,2023-08-25,190.0,0.01,0.00,0.01,10,0,320.32
7,put,2023-08-25,200.0,0.01,0.00,0.01,8,0,320.32
9,put,2023-08-25,205.0,0.00,0.00,0.01,0,0,320.32
...,...,...,...,...,...,...,...,...,...
3127,put,2025-12-19,520.0,0.00,197.50,201.50,0,0,320.32
3129,put,2025-12-19,525.0,0.00,202.00,206.50,0,0,320.32
3131,put,2025-12-19,530.0,0.00,207.55,211.40,0,0,320.32
3133,put,2025-12-19,535.0,0.00,212.50,216.45,0,0,320.32
3135,put,2025-12-19,540.0,0.00,0.00,0.00,0,0,320.32

In [11]:
#Filter for OTM only puts

otm_puts = puts_df[puts_df['strike'] < puts_df['spot']]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
1,put,2023-08-25,170.0,0.01,0.00,0.01,1,0,320.32
3,put,2023-08-25,180.0,0.01,0.00,0.01,3,0,320.32
5,put,2023-08-25,190.0,0.01,0.00,0.01,10,0,320.32
7,put,2023-08-25,200.0,0.01,0.00,0.01,8,0,320.32
9,put,2023-08-25,205.0,0.00,0.00,0.01,0,0,320.32
...,...,...,...,...,...,...,...,...,...
3039,put,2025-12-19,300.0,32.38,31.60,34.95,1685,0,320.32
3041,put,2025-12-19,305.0,36.33,33.65,37.45,63,0,320.32
3043,put,2025-12-19,310.0,35.75,35.85,38.85,364,0,320.32
3045,put,2025-12-19,315.0,37.27,37.80,40.95,150,1,320.32
3047,put,2025-12-19,320.0,41.15,40.30,43.50,257,205,320.32

In [12]:
# Remove puts with no bid
otm_puts = otm_puts[otm_puts.bid >0.01]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot
55,put,2023-08-25,295.0,0.03,0.02,0.04,2171,181,320.32
57,put,2023-08-25,297.5,0.02,0.02,0.03,1357,219,320.32
59,put,2023-08-25,300.0,0.03,0.03,0.04,3207,636,320.32
61,put,2023-08-25,302.5,0.05,0.02,0.06,2451,743,320.32
63,put,2023-08-25,305.0,0.06,0.06,0.07,4415,915,320.32
...,...,...,...,...,...,...,...,...,...
3039,put,2025-12-19,300.0,32.38,31.60,34.95,1685,0,320.32
3041,put,2025-12-19,305.0,36.33,33.65,37.45,63,0,320.32
3043,put,2025-12-19,310.0,35.75,35.85,38.85,364,0,320.32
3045,put,2025-12-19,315.0,37.27,37.80,40.95,150,1,320.32
3047,put,2025-12-19,320.0,41.15,40.30,43.50,257,205,320.32

In [13]:
# add in mid price of puts
otm_puts['mid_price'] = round(otm_puts.bid + otm_puts.ask / 2, 2)
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price
55,put,2023-08-25,295.0,0.03,0.02,0.04,2171,181,320.32,0.04
57,put,2023-08-25,297.5,0.02,0.02,0.03,1357,219,320.32,0.04
59,put,2023-08-25,300.0,0.03,0.03,0.04,3207,636,320.32,0.05
61,put,2023-08-25,302.5,0.05,0.02,0.06,2451,743,320.32,0.05
63,put,2023-08-25,305.0,0.06,0.06,0.07,4415,915,320.32,0.10
...,...,...,...,...,...,...,...,...,...,...
3039,put,2025-12-19,300.0,32.38,31.60,34.95,1685,0,320.32,49.08
3041,put,2025-12-19,305.0,36.33,33.65,37.45,63,0,320.32,52.38
3043,put,2025-12-19,310.0,35.75,35.85,38.85,364,0,320.32,55.28
3045,put,2025-12-19,315.0,37.27,37.80,40.95,150,1,320.32,58.28
3047,put,2025-12-19,320.0,41.15,40.30,43.50,257,205,320.32,62.05

In [14]:
# Find where the put price is greater than 1% of the spot
otm_puts = otm_puts[otm_puts.mid_price / otm_puts.spot > 0.01]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price
259,put,2023-09-01,315.0,2.63,2.69,2.81,2802,2549,320.32,4.10
261,put,2023-09-01,317.5,3.59,3.60,3.70,1399,590,320.32,5.45
263,put,2023-09-01,320.0,4.75,4.70,4.80,6878,2267,320.32,7.10
437,put,2023-09-08,312.5,3.15,3.25,3.35,685,101,320.32,4.92
439,put,2023-09-08,315.0,3.80,2.50,4.15,2253,220,320.32,4.58
...,...,...,...,...,...,...,...,...,...,...
3039,put,2025-12-19,300.0,32.38,31.60,34.95,1685,0,320.32,49.08
3041,put,2025-12-19,305.0,36.33,33.65,37.45,63,0,320.32,52.38
3043,put,2025-12-19,310.0,35.75,35.85,38.85,364,0,320.32,55.28
3045,put,2025-12-19,315.0,37.27,37.80,40.95,150,1,320.32,58.28
3047,put,2025-12-19,320.0,41.15,40.30,43.50,257,205,320.32,62.05

In [16]:
# add in OTM col to sho how far out of the money the put is
otm_puts['otm'] = otm_puts.spot - otm_puts.strike
#otm_puts.drop(columns=['diff'], inplace=True)
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm
259,put,2023-09-01,315.0,2.63,2.69,2.81,2802,2549,320.32,4.10,5.32
261,put,2023-09-01,317.5,3.59,3.60,3.70,1399,590,320.32,5.45,2.82
263,put,2023-09-01,320.0,4.75,4.70,4.80,6878,2267,320.32,7.10,0.32
437,put,2023-09-08,312.5,3.15,3.25,3.35,685,101,320.32,4.92,7.82
439,put,2023-09-08,315.0,3.80,2.50,4.15,2253,220,320.32,4.58,5.32
...,...,...,...,...,...,...,...,...,...,...,...
3039,put,2025-12-19,300.0,32.38,31.60,34.95,1685,0,320.32,49.08,20.32
3041,put,2025-12-19,305.0,36.33,33.65,37.45,63,0,320.32,52.38,15.32
3043,put,2025-12-19,310.0,35.75,35.85,38.85,364,0,320.32,55.28,10.32
3045,put,2025-12-19,315.0,37.27,37.80,40.95,150,1,320.32,58.28,5.32
3047,put,2025-12-19,320.0,41.15,40.30,43.50,257,205,320.32,62.05,0.32

In [17]:
# filter for at least $5 OTM
otm_puts = otm_puts[otm_puts.otm > 5]
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm
259,put,2023-09-01,315.0,2.63,2.69,2.81,2802,2549,320.32,4.10,5.32
437,put,2023-09-08,312.5,3.15,3.25,3.35,685,101,320.32,4.92,7.82
439,put,2023-09-08,315.0,3.80,2.50,4.15,2253,220,320.32,4.58,5.32
615,put,2023-09-15,302.5,2.17,2.24,2.29,274,118,320.32,3.38,17.82
617,put,2023-09-15,305.0,2.58,2.68,2.77,7957,758,320.32,4.07,15.32
...,...,...,...,...,...,...,...,...,...,...,...
3037,put,2025-12-19,295.0,30.72,30.05,33.95,370,0,320.32,47.03,25.32
3039,put,2025-12-19,300.0,32.38,31.60,34.95,1685,0,320.32,49.08,20.32
3041,put,2025-12-19,305.0,36.33,33.65,37.45,63,0,320.32,52.38,15.32
3043,put,2025-12-19,310.0,35.75,35.85,38.85,364,0,320.32,55.28,10.32
3045,put,2025-12-19,315.0,37.27,37.80,40.95,150,1,320.32,58.28,5.32

In [18]:
# Add time filtering to expiration
otm_puts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322 entries, 259 to 3045
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   optionType    322 non-null    object
 1   expiration    322 non-null    object
 2   strike        322 non-null    float64
 3   lastPrice     322 non-null    float64
 4   bid           322 non-null    float64
 5   ask           322 non-null    float64
 6   openInterest  322 non-null    int64
 7   volume        322 non-null    int64
 8   spot          322 non-null    float64
 9   mid_price     322 non-null    float64
 10  otm           322 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 30.2+ KB

In [19]:
# right now, expiration is an object, convert to datetime
otm_puts.expiration = pd.to_datetime(otm_puts.expiration)

In [20]:
otm_puts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322 entries, 259 to 3045
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   optionType    322 non-null    object
 1   expiration    322 non-null    datetime64[ns]
 2   strike        322 non-null    float64
 3   lastPrice     322 non-null    float64
 4   bid           322 non-null    float64
 5   ask           322 non-null    float64
 6   openInterest  322 non-null    int64
 7   volume        322 non-null    int64
 8   spot          322 non-null    float64
 9   mid_price     322 non-null    float64
 10  otm           322 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(1)
memory usage: 30.2+ KB

In [21]:
# add a dte col by subtracting the expy from today
otm_puts['dte'] = otm_puts.expiration - pd.datetime.now()
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
259,put,2023-09-01,315.0,2.63,2.69,2.81,2802,2549,320.32,4.10,5.32,7 days 05:33:29.162683
437,put,2023-09-08,312.5,3.15,3.25,3.35,685,101,320.32,4.92,7.82,14 days 05:33:29.162683
439,put,2023-09-08,315.0,3.80,2.50,4.15,2253,220,320.32,4.58,5.32,14 days 05:33:29.162683
615,put,2023-09-15,302.5,2.17,2.24,2.29,274,118,320.32,3.38,17.82,21 days 05:33:29.162683
617,put,2023-09-15,305.0,2.58,2.68,2.77,7957,758,320.32,4.07,15.32,21 days 05:33:29.162683
...,...,...,...,...,...,...,...,...,...,...,...,...
3037,put,2025-12-19,295.0,30.72,30.05,33.95,370,0,320.32,47.03,25.32,847 days 05:33:29.162683
3039,put,2025-12-19,300.0,32.38,31.60,34.95,1685,0,320.32,49.08,20.32,847 days 05:33:29.162683
3041,put,2025-12-19,305.0,36.33,33.65,37.45,63,0,320.32,52.38,15.32,847 days 05:33:29.162683
3043,put,2025-12-19,310.0,35.75,35.85,38.85,364,0,320.32,55.28,10.32,847 days 05:33:29.162683
3045,put,2025-12-19,315.0,37.27,37.80,40.95,150,1,320.32,58.28,5.32,847 days 05:33:29.162683

In [22]:
# now convert the time delta (dte col) to just the days 
otm_puts.dte = otm_puts.dte.dt.days
otm_puts

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
259,put,2023-09-01,315.0,2.63,2.69,2.81,2802,2549,320.32,4.10,5.32,7
437,put,2023-09-08,312.5,3.15,3.25,3.35,685,101,320.32,4.92,7.82,14
439,put,2023-09-08,315.0,3.80,2.50,4.15,2253,220,320.32,4.58,5.32,14
615,put,2023-09-15,302.5,2.17,2.24,2.29,274,118,320.32,3.38,17.82,21
617,put,2023-09-15,305.0,2.58,2.68,2.77,7957,758,320.32,4.07,15.32,21
...,...,...,...,...,...,...,...,...,...,...,...,...
3037,put,2025-12-19,295.0,30.72,30.05,33.95,370,0,320.32,47.03,25.32,847
3039,put,2025-12-19,300.0,32.38,31.60,34.95,1685,0,320.32,49.08,20.32,847
3041,put,2025-12-19,305.0,36.33,33.65,37.45,63,0,320.32,52.38,15.32,847
3043,put,2025-12-19,310.0,35.75,35.85,38.85,364,0,320.32,55.28,10.32,847
3045,put,2025-12-19,315.0,37.27,37.80,40.95,150,1,320.32,58.28,5.32,847

In [23]:
# Grabbing the puts between 25-45 dte
otm_puts_25_45 = otm_puts[otm_puts.dte.between(25,45)]
otm_puts_25_45

,optionType,expiration,strike,lastPrice,bid,ask,openInterest,volume,spot,mid_price,otm,dte
769,put,2023-09-22,300.0,2.50,2.57,2.64,906,146,320.32,3.89,20.32,28
771,put,2023-09-22,305.0,3.16,3.50,3.60,474,47,320.32,5.30,15.32,28
773,put,2023-09-22,310.0,4.75,4.75,4.85,608,148,320.32,7.18,10.32,28
775,put,2023-09-22,315.0,6.31,6.35,6.50,395,186,320.32,9.60,5.32,28
885,put,2023-09-29,295.0,2.31,2.43,2.51,613,82,320.32,3.68,25.32,35
887,put,2023-09-29,300.0,3.06,3.20,3.35,726,186,320.32,4.88,20.32,35
889,put,2023-09-29,305.0,4.22,4.25,4.40,674,166,320.32,6.45,15.32,35
891,put,2023-09-29,310.0,5.23,5.60,7.50,395,135,320.32,9.35,10.32,35
893,put,2023-09-29,315.0,7.34,7.25,8.45,381,53,320.32,11.48,5.32,35
979,put,2023-10-06,295.0,2.91,2.10,3.15,0,37,320.32,3.68,25.32,42
981,put,2023-10-06,300.0,3.85,2.88,4.05,0,32,320.32,4.90,20.32,42
983,put,2023-10-06,305.0,5.00,3.00,6.55,0,26,320.32,6.28,15.32,42
985,put,2023-10-06,310.0,6.12,4.25,6.55,0,21,320.32,7.52,10.32,42
987,put,2023-10-06,315.0,7.58,6.00,9.40,0,23,320.32,10.70,5.32,42

In [ ]:
# so now we have a list of options that are at least $5 OTM, 
# have a premium of 1% or more as compared to spot of stock 
# and are within 25-45 dte

In [77]:
otm_puts_25_45.to_csv('/Users/mikewenner/Desktop/CSV/otm_puts_25_45.csv')

In [78]:
from IPython.display import FileLink

In [ ]:
otm_puts_25_45.to_csv('otm_puts_25_45', index=True)

FileLink('otm_puts_25_45')

In [24]:
openbb.stocks.options.vsurf("MSFT")

    strike  impliedVolatility  openInterest  lastPrice  dte
0    170.0           4.410161             5     153.80    0
1    180.0           4.031255             3     147.25    0
2    190.0           3.716798             3     139.10    0
3    200.0           3.451173            22     124.25    0
4    220.0           2.646488             5      96.63    0
..     ...                ...           ...        ...  ...
63   450.0           0.142770             5     117.00  847
64   455.0           0.146249             1     122.70  847
65   460.0           0.141488             2     136.51  847
66   480.0           0.154183             0     144.80  847
67   510.0           0.171883             0     174.78  847

[2702 rows x 5 columns]