In [1]:
# Initial imports
import pandas as pd
import calendar
import numpy as np
from sqlalchemy import create_engine

In [2]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/MasterClass")

In [7]:

query_customer = """ select * FROM customer """

customer_df = pd.read_sql(query_customer, engine)
customer_df

,customer_id,store_id,first_name,last_name,email,address_id,activebool,create_date,last_update,active
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,True,2020-02-14,2020-02-15 09:57:20+00:00,1
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,True,2020-02-14,2020-02-15 09:57:20+00:00,1
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,True,2020-02-14,2020-02-15 09:57:20+00:00,1
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,True,2020-02-14,2020-02-15 09:57:20+00:00,1
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,True,2020-02-14,2020-02-15 09:57:20+00:00,1
...,...,...,...,...,...,...,...,...,...,...
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,True,2020-02-14,2020-02-15 09:57:20+00:00,1
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,True,2020-02-14,2020-02-15 09:57:20+00:00,1
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,True,2020-02-14,2020-02-15 09:57:20+00:00,1
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,True,2020-02-14,2020-02-15 09:57:20+00:00,1
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,True,2020-02-14,2020-02-15 09:57:20+00:00,1

---
## create_engine detail

<img src="create_engine.png" alt="Example Image" width="1000" height="500">

---
## Alt connect to db
* use if have @ symbol in password or other password characters that trow error in above

In [ ]:
from sqlalchemy.engine import URL
url_object = URL.create(
    "postgresql",
    username="dbuser",  # the username pgadmin
    password="kx@jj5/g",  # plain (unescaped) text
    host="pghost10",  # localhost:5432 or just localhost
    database="appdb", # this would be the db name you want to access
)