In [1]:
import pandas as pd
import numpy as np

In [2]:
#read in data set
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [279]:
# similar from desktop
file_path = '/Users/mikewenner/Desktop/CSV/soccer.csv'
players=pd.read_csv(file_path)
players

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [6]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          465 non-null    object
 1   club          465 non-null    object
 2   age           465 non-null    int64
 3   position      464 non-null    object
 4   position_cat  465 non-null    int64
 5   market_value  462 non-null    float64
 6   page_views    465 non-null    int64
 7   fpl_value     465 non-null    float64
 8   fpl_sel       465 non-null    object
 9   fpl_points    465 non-null    int64
 10  region        465 non-null    int64
 11  nationality   465 non-null    object
 12  new_foreign   465 non-null    int64
 13  age_cat       465 non-null    int64
 14  club_id       465 non-null    int64
 15  big_club      465 non-null    int64
 16  new_signing   465 non-null    int64
dtypes: float64(2), int64(10), object(5)
memory usage: 61.9+ KB

In [7]:
players.dtypes.value_counts()

int64      10
object      5
float64     2
dtype: int64

In [9]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

## Boolean Mask review

### 2 step process
* generate a sequence of booleans on column
* apply to a df or columns

In [11]:
# What players have a markets value exceeding 40M?
players.market_value > 40

0       True
1       True
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

In [12]:
#apply the mask
players[players.market_value > 40]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
96,Eden Hazard,Chelsea,26,LW,1,75.0,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
244,Kevin De Bruyne,Manchester+City,26,AM,1,65.0,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0
245,Sergio Aguero,Manchester+City,29,CF,1,65.0,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
267,Paul Pogba,Manchester+United,24,CM,2,75.0,7435,8.0,19.50%,115,2,France,0,2,12,1,1
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0

In [13]:
players[players.market_value > 40].shape

(13, 17)

In [14]:
#so we have 13 players above 40m

In [15]:
# If we want to look at all the defenders
# This is going to be all the backs (RB, LB & CB)
# look at whats in the position column
players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [16]:
# We can use the is in method
players.position.isin(["RB", "CB", "LB"])

0      False
1      False
2      False
3      False
4       True
       ...
460    False
461     True
462     True
463    False
464    False
Name: position, Length: 465, dtype: bool

In [17]:
#pass in the bool mask
players[players.position.isin(["RB", "CB", "LB"])]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
7,Nacho Monreal,Arsenal,31,LB,3,13.0,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
17,Gabriel Paulista,Arsenal,26,CB,3,13.0,552,5.0,0.10%,45,3,Brazil,0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
458,Angelo Ogbonna,West+Ham,29,CB,3,9.0,247,4.5,1.10%,45,2,Italy,0,4,20,0,0
459,Pablo Zabaleta,West+Ham,32,RB,3,7.0,698,5.0,2.70%,45,3,Argentina,0,5,20,0,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0

In [18]:
# or us the .loc
players.loc[players.position.isin(["RB", "CB", "LB"])]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
7,Nacho Monreal,Arsenal,31,LB,3,13.0,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
17,Gabriel Paulista,Arsenal,26,CB,3,13.0,552,5.0,0.10%,45,3,Brazil,0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
458,Angelo Ogbonna,West+Ham,29,CB,3,9.0,247,4.5,1.10%,45,2,Italy,0,4,20,0,0
459,Pablo Zabaleta,West+Ham,32,RB,3,7.0,698,5.0,2.70%,45,3,Argentina,0,5,20,0,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0

In [20]:
# what if we wanted a range of market values?

players.market_value.between(40, 50)

0      False
1       True
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

In [21]:
# Pass the mask
players[players.market_value.between(40, 50)]
# players[players.market_value.between(40, 50), inclusive=False]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
31,Alexandre Lacazette,Arsenal,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
102,Thibaut Courtois,Chelsea,25,GK,4,40.0,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
219,Sadio Mane,Liverpool,25,LW,1,40.0,3219,9.5,5.30%,156,4,Senegal,0,3,10,1,1
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
263,Bernardo Silva,Manchester+City,22,RW,1,40.0,1098,8.0,4.60%,0,2,Portugal,1,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
265,David de Gea,Manchester+United,26,GK,4,40.0,2126,5.5,26.10%,136,2,Spain,0,3,12,1,0
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
382,Christian Eriksen,Tottenham,25,AM,1,40.0,1130,9.5,12.00%,218,2,Denmark,0,3,17,1,0

In [22]:
# players younger than 25
players.age <= 25

0      False
1      False
2      False
3      False
4      False
       ...
460     True
461     True
462     True
463     True
464    False
Name: age, Length: 465, dtype: bool

## Comparators

### <   .lt()
### <=  .le()
### >   .gt()
### >=  .ge()
### ==  .eq()

* These all support a fill value parameter

In [23]:
players[players.age <= 25]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,CM,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [24]:
players[players.age.le(25)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,CM,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

## Multiple Conditions

In [26]:
# Find all players the are LB's
players.position == 'LB'

0      True
1      True
2      True
3      True
4      True
       ...
460    True
461    True
462    True
463    True
464    True
Name: position, Length: 465, dtype: bool

In [27]:
players[players.position == 'LB']

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LB,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,LB,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,LB,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,LB,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,LB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,LB,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,LB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,LB,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,LB,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [28]:
# If want all LB's that are less than 25
players[(players.position == 'LB') & (players.age <= 25)]

# MUST wrap each condition in () or it will error out

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,LB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,LB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LB,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,LB,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,LB,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,LB,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
460,Edimilson Fernandes,West+Ham,21,LB,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,LB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,LB,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [30]:
# 3 conditions: LB's 25 or younger and market value 10+
players[
    (players.position == 'LB') &
    (players.age <= 25) &
    (players.market_value >= 10)
    
]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,LB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,LB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LB,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,LB,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,LB,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,Eric Dier,Tottenham,23,LB,2,25.0,1239,5.0,3.50%,93,1,England,0,2,17,1,0
389,Ben Davies,Tottenham,24,LB,3,12.0,396,5.5,1.80%,90,2,Wales,0,2,17,1,0
392,Vincent Janssen,Tottenham,23,LB,1,13.0,1135,7.5,0.10%,55,2,Netherlands,0,2,17,1,1
396,Erik Lamela,Tottenham,25,LB,1,25.0,672,6.5,0.10%,28,3,Argentina,0,3,17,1,0
444,Manuel Lanzini,West+Ham,24,LB,1,15.0,493,7.0,7.20%,133,3,Argentina,0,2,20,0,0

In [32]:
# 4 conditions: LB's 25 or younger and market value 10+, and NOT from Aresenal ot Tottenham
players[
    (players.position == 'LB') &
    (players.age <= 25) &
    (players.market_value >= 10) &
    ~(players.club.isin(['Tottenham', 'Arsenal']))
    
]

# **** NOTE THE ~ NEGATES AN ISIN *****

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
41,Benik Afobe,Bournemouth,24,LB,1,10.0,528,6.0,0.70%,88,4,Congo DR,0,2,2,0,0
44,Callum Wilson,Bournemouth,25,LB,1,10.0,337,6.0,0.20%,63,1,England,0,3,2,0,0
91,Robbie Brady,Burnley,25,LB,2,10.0,614,5.5,0.40%,39,2,Ireland,0,3,4,0,0
102,Thibaut Courtois,Chelsea,25,LB,4,40.0,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
110,Michy Batshuayi,Chelsea,23,LB,1,25.0,1162,8.5,1.60%,48,2,Belgium,0,2,5,1,1
111,Kurt Zouma,Chelsea,22,LB,3,15.0,723,5.5,0.80%,15,2,France,0,2,5,1,0
114,Antonio Rudiger,Chelsea,24,LB,3,25.0,454,6.0,6.40%,0,2,Germany,1,2,5,1,0
115,Tiemoue Bakayoko,Chelsea,22,LB,2,16.0,1011,5.0,1.60%,0,2,France,1,2,5,1,0
116,Wilfried Zaha,Crystal+Palace,24,LB,1,18.0,1709,7.0,20.90%,149,4,Cote d'Ivoire,0,2,6,0,0
137,Ross Barkley,Everton,23,LB,1,25.0,1413,7.5,0.70%,144,1,England,0,2,7,0,0
142,Michael Keane,Everton,24,LB,3,18.0,1362,5.5,13.10%,113,1,England,0,2,7,0,0
144,Jordan Pickford,Everton,23,LB,4,15.0,719,5.0,14.60%,102,1,England,0,2,7,0,0
163,Davy Klaassen,Everton,24,LB,1,18.0,428,7.5,3.60%,0,2,Netherlands,1,2,7,0,0
164,Sandro Ramirez,Everton,22,LB,1,10.0,373,7.5,2.10%,0,2,Spain,1,2,7,0,0
205,Wilfred Ndidi,Leicester+City,20,LB,2,14.0,821,5.0,0.50%,59,4,Nigeria,0,1,9,0,1
209,Ahmed Musa,Leicester+City,24,LB,1,17.0,742,6.5,1.50%,39,4,Nigeria,0,2,9,0,1
213,Nampalys Mendy,Leicester+City,25,LB,2,10.0,325,4.5,0.10%,6,2,France,0,3,9,0,1
217,Roberto Firmino,Liverpool,25,LB,1,38.0,2196,8.5,20.30%,180,3,Brazil,0,3,10,1,0
218,Philippe Coutinho,Liverpool,25,LB,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
219,Sadio Mane,Liverpool,25,LB,1,40.0,3219,9.5,5.30%,156,4,Senegal,0,3,10,1,1
226,Emre Can,Liverpool,23,LB,2,15.0,1253,5.0,6.60%,104,2,Germany,0,2,10,1,0
227,Joel Matip,Liverpool,25,LB,3,25.0,1313,5.5,2.30%,97,2,Cameroon,0,3,10,1,1
228,Divock Origi,Liverpool,22,LB,1,12.0,1092,7.5,0.40%,96,2,Belgium,0,2,10,1,0
236,Alberto Moreno,Liverpool,25,LB,3,10.0,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
241,Mohamed Salah,Liverpool,25,LB,1,35.0,1117,9.0,12.40%,0,4,Egypt,1,3,10,1,0
246,Raheem Sterling,Manchester+City,22,LB,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
249,Leroy Sane,Manchester+City,21,LB,1,35.0,2302,8.5,8.80%,105,2,Germany,0,1,11,1,1
255,Gabriel Jesus,Manchester+City,20,LB,1,30.0,4254,10.5,15.20%,67,3,Brazil,0,1,11,1,1
256,John Stones,Manchester+City,23,LB,3,35.0,1078,5.5,2.30%,59,1,England,0,2,11,1,1
258,Kelechi Iheanacho,Manchester+City,20,LB,1,15.0,1662,7.0,1.50%,52,4,Nigeria,0,1,11,1,0
262,Ederson Moraes,Manchester+City,23,LB,4,22.0,297,5.5,4.50%,0,3,Brazil,1,2,11,1,0
263,Bernardo Silva,Manchester+City,22,LB,1,40.0,1098,8.0,4.60%,0,2,Portugal,1,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,LB,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
267,Paul Pogba,Manchester+United,24,LB,2,75.0,7435,8.0,19.50%,115,2,France,0,2,12,1,1
268,Eric Bailly,Manchester+United,23,LB,3,30.0,1588,6.0,10.20%,105,4,Cote d'Ivoire,0,2,12,1,1
272,Anthony Martial,Manchester+United,21,LB,1,30.0,2430,8.0,0.60%,95,2,France,0,1,12,1,0
274,Marcus Rashford,Manchester+United,19,LB,1,18.0,3668,7.5,4.80%,76,1,England,0,1,12,1,0
277,Jesse Lingard,Manchester+United,24,LB,1,12.0,1939,6.0,0.70%,60,1,England,0,2,12,1,0
278,Phil Jones,Manchester+United,25,LB,3,14.0,808,5.0,0.40%,55,1,England,0,3,12,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.0,947,5.0,0.40%,45,1,England,0,2,12,1,0
288,Victor Lindelof,Manchester+United,23,LB,3,22.0,950,5.5,17.00%,0,2,Sweden,1,2,12,1,0
300,Jonjo Shelvey,Newcastle+United,25,LB,2,11.0,747,5.5,2.50%,0,1,England,0,3,13,0,0
308,Aleksandar Mitrovic,Newcastle+United,22,LB,1,10.0,781,5.0,2.50%,0,2,Serbia,0,2,13,0,0
311,Nathan Redmond,Southampton,23,LB,1,15.0,706,6.5,11.30%,126,1,England,0,2,14,0,1
314,Cedric Soares,Southampton,25,LB,3,15.0,338,5.0,16.40%,102,2,Portugal,0,3,14,0,0
315,James Ward-Prowse,Southampton,22,LB,2,15.0,416,5.5,2.20%,92,1,England,0,2,14,0,0
316,Oriol Romeu,Southampton,25,LB,2,10.0,476,4.5,4.20%,80,2,Spain,0,3,14,0,0
323,Sofiane Boufal,Southampton,23,LB,1,15.0,590,6.0,0.30%,40,4,Morocco,0,2,14,0,1
326,Manolo Gabbiadini,Southampton,25,LB,1,15.0,2012,7.0,5.20%,38,2,Italy,0,3,14,0,0
339,Xherdan Shaqiri,Stoke+City,25,LB,1,15.0,1000,6.0,3.20%,80,2,Switzerland,0,3,15,0,0
350,Saido Berahino,Stoke+City,23,LB,1,15.0,841,6.0,0.80%,26,1,England,0,2,15,0,0
351,Giannelli Imbula,Stoke+City,24,LB,2,12.0,238,4.5,0.20%,24,2,France,0,2,15,0,0
352,Jack Butland,Stoke+City,24,LB,4,15.0,402,5.0,2.80%,20,1,England,0,2,15,0,0
444,Manuel Lanzini,West+Ham,24,LB,1,15.0,493,7.0,7.20%,133,3,Argentina,0,2,20,0,0

In [38]:
# find Arsenal right backs and Chelsea goal keepers

arsenal_player = players.club == 'Arsenal'
arsenal_player

0       True
1       True
2       True
3       True
4       True
       ...
460    False
461    False
462    False
463    False
464    False
Name: club, Length: 465, dtype: bool

In [56]:
right_back = players.position == 'RB'
right_back

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462     True
463    False
464    False
Name: position, Length: 465, dtype: bool

In [57]:
chelsea_and_GK = (players.club == 'Chelsea') & (players.position == 'GK')
chelsea_and_GK

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Length: 465, dtype: bool

In [58]:
chelsea_and_GK.value_counts()

False    463
True       2
dtype: int64

In [59]:
# Combine using the or operator --> pipe
players.loc[arsenal_player & right_back | chelsea_and_GK]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
27,Carl Jenkinson,Arsenal,25,RB,3,5.0,561,4.5,0.40%,2,1,England,0,3,1,1,0
102,Thibaut Courtois,Chelsea,25,GK,4,40.0,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
109,Willy Caballero,Chelsea,35,GK,4,1.5,542,5.0,0.20%,64,3,Argentina,0,6,5,1,0

# Challenge exercise

### Find the players in our dataset that meet these criteria

1.   they're English (*nationality*), and
2.   their market value is more than twice the average market value in the league (*market_value*), and
3. they either have more than 4,000 views (*page_views*) or are a new signing (*new_signing*) but not both

In [79]:
players.head(3)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0

In [80]:
# Assign variables to each condition above

english_nationality = players.nationality =='England'
english_nationality.value_counts()

False    307
True     158
Name: nationality, dtype: int64

In [81]:
market_val = players.market_value > (players.market_value.mean() *2)
market_val.value_counts()

False    400
True      65
Name: market_value, dtype: int64

In [82]:
# Third condition --> XOR (^)
third_cond = (players.page_views > 4000) ^ (players.new_signing == 1)
third_cond.value_counts()

False    393
True      72
dtype: int64

In [83]:
# Putting it all together
# All conditions combine with AND

players.loc[english_nationality & market_val & third_cond]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
256,John Stones,Manchester+City,23,CB,3,35.0,1078,5.5,2.30%,59,1,England,0,2,11,1,1
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0

## 2D Indexing

In [84]:
# Looks at chelsea players 23 yr old & younger
chelsea_23under = (players.club == 'Chelsea') & (players.age.le(23))
chelsea_23under.value_counts()

False    461
True       4
dtype: int64

In [85]:
players[chelsea_23under]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
110,Michy Batshuayi,Chelsea,23,CF,1,25.0,1162,8.5,1.60%,48,2,Belgium,0,2,5,1,1
111,Kurt Zouma,Chelsea,22,CB,3,15.0,723,5.5,0.80%,15,2,France,0,2,5,1,0
112,Kenedy,Chelsea,21,LB,3,7.0,566,5.0,0.10%,3,3,Brazil,0,1,5,1,0
115,Tiemoue Bakayoko,Chelsea,22,DM,2,16.0,1011,5.0,1.60%,0,2,France,1,2,5,1,0

In [86]:
# If we wanted to see only certian columns in the dataset
# use .loc and then pass list of columns as 2nd arg

players.loc[chelsea_23under, ['position', 'market_value']]

    position  market_value
110       CF          25.0
111       CB          15.0
112       LB           7.0
115       DM          16.0

In [88]:
# what if we wanted to see all columns the start with 'p'
# can use the startswith method

p_cols = players.columns.str.startswith('p')
p_cols

array([False, False, False,  True,  True, False,  True, False, False,
       False, False, False, False, False, False, False, False])

In [89]:
# Now we have another mask we can pass

players.loc[chelsea_23under, p_cols]

    position  position_cat  page_views
110       CF             1        1162
111       CB             3         723
112       LB             3         566
115       DM             2        1011

In [91]:
## Lookup Method

players.loc[[0, 132], ('name', 'market_value')]

               name  market_value
0    Alexis Sanchez          65.0
132  Connor Wickham           6.0

In [95]:
players.lookup([0, 132], ['name', 'market_value'])

/var/folders/ys/fqvy458x0ds2sdvqh8qgff500000gn/T/ipykernel_8285/2318317589.py:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  players.lookup([0, 132], ['name', 'market_value'])

array(['Alexis Sanchez', 6.0], dtype=object)

## Set & Sorting index & cols

In [96]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [102]:
#setting the index to name
players.set_index('name', inplace=True)
players.head()

,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
name,,,,,,,,,,,,,,,,
Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [103]:
#sorting the index
players.sort_index(inplace=True)
players

,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
name,,,,,,,,,,,,,,,,
Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
Abdoulaye Doucoure,Watford,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yohan Cabaye,Crystal+Palace,31,CM,2,15.0,456,5.5,1.40%,91,2,France,0,4,6,0,0
YounÃ¨s Kaboul,Watford,31,CB,3,2.5,263,4.5,0.10%,57,2,France,0,4,18,0,1
Ã‰tienne Capoue,Watford,29,DM,2,9.0,412,5.5,8.00%,131,2,France,0,4,18,0,0
Ã€ngel Rangel,Swansea,34,RB,3,1.0,137,4.0,18.80%,26,2,Spain,0,6,16,0,0
Åukasz FabiaÅ„ski,Swansea,32,GK,4,9.0,285,4.5,6.20%,116,2,Poland,0,5,16,0,0

In [104]:
# sorting the columns
players.sort_index(axis=1, inplace=True)
players

,age,age_cat,big_club,club,club_id,fpl_points,fpl_sel,fpl_value,market_value,nationality,new_foreign,new_signing,page_views,position,position_cat,region
name,,,,,,,,,,,,,,,,
Aaron Cresswell,27,3,0,West+Ham,20,60,1.30%,5.0,12.0,England,0,0,380,LB,3,1
Aaron Lennon,30,4,0,Everton,7,22,0.20%,5.5,5.0,England,0,0,504,RW,1,1
Aaron Mooy,26,3,0,Huddersfield,8,0,2.50%,5.5,5.0,Australia,0,0,588,CM,2,4
Aaron Ramsey,26,3,1,Arsenal,1,56,5.10%,7.0,35.0,Wales,0,0,1040,CM,2,1
Abdoulaye Doucoure,24,2,0,Watford,18,38,0.00%,5.0,6.0,France,0,0,124,CM,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yohan Cabaye,31,4,0,Crystal+Palace,6,91,1.40%,5.5,15.0,France,0,0,456,CM,2,2
YounÃ¨s Kaboul,31,4,0,Watford,18,57,0.10%,4.5,2.5,France,0,1,263,CB,3,2
Ã‰tienne Capoue,29,4,0,Watford,18,131,8.00%,5.5,9.0,France,0,0,412,DM,2,2
Ã€ngel Rangel,34,6,0,Swansea,16,26,18.80%,4.0,1.0,Spain,0,0,137,RB,3,2
Åukasz FabiaÅ„ski,32,5,0,Swansea,16,116,6.20%,4.5,9.0,Poland,0,0,285,GK,4,2

In [106]:
# Reset the index
players.reset_index(inplace=True)
players

,name,age,age_cat,big_club,club,club_id,fpl_points,fpl_sel,fpl_value,market_value,nationality,new_foreign,new_signing,page_views,position,position_cat,region
0,Aaron Cresswell,27,3,0,West+Ham,20,60,1.30%,5.0,12.0,England,0,0,380,LB,3,1
1,Aaron Lennon,30,4,0,Everton,7,22,0.20%,5.5,5.0,England,0,0,504,RW,1,1
2,Aaron Mooy,26,3,0,Huddersfield,8,0,2.50%,5.5,5.0,Australia,0,0,588,CM,2,4
3,Aaron Ramsey,26,3,1,Arsenal,1,56,5.10%,7.0,35.0,Wales,0,0,1040,CM,2,1
4,Abdoulaye Doucoure,24,2,0,Watford,18,38,0.00%,5.0,6.0,France,0,0,124,CM,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Yohan Cabaye,31,4,0,Crystal+Palace,6,91,1.40%,5.5,15.0,France,0,0,456,CM,2,2
461,YounÃ¨s Kaboul,31,4,0,Watford,18,57,0.10%,4.5,2.5,France,0,1,263,CB,3,2
462,Ã‰tienne Capoue,29,4,0,Watford,18,131,8.00%,5.5,9.0,France,0,0,412,DM,2,2
463,Ã€ngel Rangel,34,6,0,Swansea,16,26,18.80%,4.0,1.0,Spain,0,0,137,RB,3,2
464,Åukasz FabiaÅ„ski,32,5,0,Swansea,16,116,6.20%,4.5,9.0,Poland,0,0,285,GK,4,2

## Sort vs reorder

In [112]:
# reindex() method

players_lite = players.iloc[:4, :4]
players_lite

             name     club  age position
0  Alexis Sanchez  Arsenal   28       LW
1      Mesut Ozil  Arsenal   28       AM
2       Petr Cech  Arsenal   35       GK
3    Theo Walcott  Arsenal   28       RW

In [109]:
# what if we had a requirement to see the df in the following way:

# row order: 2, 1, 3, 0
# columns order: age, name, position, club

In [113]:
#pass python lists into the reindex method
players_lite.reindex(index=[2, 1, 3, 0], columns=['age', 'name', 'position', 'club'])

   age            name position     club
2   35       Petr Cech       GK  Arsenal
1   28      Mesut Ozil       AM  Arsenal
3   28    Theo Walcott       RW  Arsenal
0   28  Alexis Sanchez       LW  Arsenal

In [116]:
#What if want all cols but ordered
players.reindex(index=[2, 1, 3, 0]).sort_index(axis=1)

,age,age_cat,big_club,club,club_id,fpl_points,fpl_sel,fpl_value,market_value,name,nationality,new_foreign,new_signing,page_views,position,position_cat,region
2,35,6,1,Arsenal,1,134,5.90%,5.5,7.0,Petr Cech,Czech Republic,0,0,1529,GK,4,2
1,28,4,1,Arsenal,1,167,5.60%,9.5,50.0,Mesut Ozil,Germany,0,0,4395,AM,1,2
3,28,4,1,Arsenal,1,122,1.50%,7.5,20.0,Theo Walcott,England,0,0,2393,RW,1,1
0,28,4,1,Arsenal,1,264,17.10%,12.0,65.0,Alexis Sanchez,Chile,0,0,4329,LW,1,3

# Challenge Exercise

In [119]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [120]:
# sort the players by age in ascending order to find the youngest player
players.sort_values('age', ascending=True)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
237,Ben Woodburn,Liverpool,17,LW,1,1.50,1241,4.5,0.10%,5,1,Wales,0,1,10,1,0
354,Josh Tymon,Stoke+City,18,LB,3,1.00,120,4.5,0.10%,9,1,England,0,1,15,0,0
439,Jonathan Leko,West+Brom,18,RW,1,1.50,169,4.5,0.20%,12,1,England,0,1,19,0,0
235,Trent Alexander-Arnold,Liverpool,18,RB,3,1.50,327,4.5,0.30%,15,2,England,0,1,10,1,0
274,Marcus Rashford,Manchester+United,19,CF,1,18.00,3668,7.5,4.80%,76,1,England,0,1,12,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Peter Crouch,Stoke+City,36,CF,1,1.50,2656,5.0,2.90%,79,1,England,0,6,15,0,0
150,Gareth Barry,Everton,36,DM,2,1.50,1331,4.5,1.70%,68,1,England,0,6,7,0,0
35,Artur Boruc,Bournemouth,37,GK,4,1.00,436,4.5,6.90%,120,2,Poland,0,6,2,0,0
424,Gareth McAuley,West+Brom,37,CB,3,1.00,458,5.0,11.80%,131,2,Northern Ireland,0,6,19,0,0
136,Julian Speroni,Crystal+Palace,38,GK,4,0.25,188,4.0,2.00%,0,3,Argentina,0,6,6,0,0

In [130]:
# set the index of the df to club, sort it in abc order, set it to new df to use for next q
play_sort = players.set_index('club').sort_index()
play_sort

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Arsenal,Alexis Sanchez,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Arsenal,Mesut Ozil,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Arsenal,Petr Cech,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
Arsenal,Theo Walcott,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
Arsenal,Laurent Koscielny,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West+Ham,Edimilson Fernandes,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
West+Ham,Arthur Masuaku,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
West+Ham,Sam Byram,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
West+Ham,Ashley Fletcher,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
West+Ham,Diafra Sakho,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [131]:
# sort the df by club and market value.  clubs in abc order and market value by desc order
play_sort.sort_values(by=['club', 'market_value'], ascending=[True, False])

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Arsenal,Alexis Sanchez,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Arsenal,Mesut Ozil,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Arsenal,Alexandre Lacazette,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
Arsenal,Granit Xhaka,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
Arsenal,Granit Xhaka,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West+Ham,Edimilson Fernandes,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
West+Ham,Sam Byram,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
West+Ham,Darren Randolph,30,GK,4,2.5,459,4.5,0.40%,69,2,Ireland,0,4,20,0,0
West+Ham,James Collins,33,CB,3,2.0,187,4.5,0.90%,69,2,Wales,0,5,20,0,0
West+Ham,Ashley Fletcher,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

## Duplicate Values

In [132]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [134]:
players[players.duplicated()]
#this displays the rows that ARE the dups, NOT the original

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [135]:
# default looks for all values to be same to call a dup
# add a subset

players[players.duplicated(subset = ['name', 'age'])]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0

In [136]:
# Remove dups
players.drop_duplicates()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [137]:
players

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [138]:
# so we dropped 3 rows

## Removing rows & columns

In [140]:
# if we wanted to drop a single dup value ... not all dups
players[players.duplicated()]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [141]:
# to drop just one of the alex dups, say row 13

players.drop(index=19, axis=0)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [142]:
# can also pass a python list to the index parm if want to remove many rows

In [143]:
# removing columns
players.drop(columns=['new_foreign', 'age_cat'])

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,20,0,0

## Filling Nulls fillna()

In [144]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [145]:
players.shape

(465, 17)

In [281]:
players.isnull()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
461,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
462,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
463,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
464,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [150]:
# How many nulls in the df?
np.count_nonzero(players.isnull())

4

In [283]:
players.isnull().sum().sum()

4

In [148]:
#are there any nulls in age?
players.age.isnull().value_counts()

False    465
Name: age, dtype: int64

In [151]:
# since all false then there are no nulls

In [152]:
# Where are the 4 na's
# recall above players.isnull() gave the bool for the whole df
# now we can add values

players.isnull().values

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [153]:
#this gives us the mask to pass
players[players.isnull().values]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [154]:
# now we know the 4 nulls but we see we have a dup so...

players[players.isnull().values].drop_duplicates()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [155]:
# Fill na --> allows us to replace the na
#recall from above 

nulls = players[players.isnull().values].drop_duplicates()
nulls

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [160]:
# now we can replace the nulls in the market value with a number & the position with a str
# we do this by adding a dictionary

nulls.fillna({
    'market_value' : round(players.market_value.mean(), 2),
    'position' : 'rm'
    
})

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,rm,2,11.13,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,11.13,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,11.13,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [158]:
# We can also simply drop the nulls using drop na

players.dropna()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [159]:
players

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [161]:
# we see 462 vs 465 so we know that 3 rows were dropped

### We can also use forward fill ffill() and bfill() in the fillna()
### ffill() - this will take what is in the preceeding row record and use that value
* also called 'pad'
### bfill() - this takes whats ahead and brings it back
* also called 'backfill'

In [164]:
players.fillna(method='ffill')

# Challenge Exercise

In [166]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [171]:
# from players df, remove rows 2, 10, 21 and the market value column. assign to variable df2

df2 = players.drop(index=[2, 10, 21], axis=0).drop(columns = ['market_value'])
df2

,name,club,age,position,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [174]:
# does the nationality columns contain any nulls?
df2.nationality.isnull().value_counts()

False    462
Name: nationality, dtype: int64

In [176]:
# no because 462 falses, can also use bool mask
df2[df2.nationality.isnull().values]

Empty DataFrame
Columns: [name, club, age, position, position_cat, page_views, fpl_value, fpl_sel, fpl_points, region, nationality, new_foreign, age_cat, club_id, big_club, new_signing]
Index: []

In [177]:
#this returns nothing so no

In [189]:
# or can also sum the nulls
df2.nationality.isnull().sum()

0

In [190]:
#How many unique natinalities are there?
df2.nationality.nunique()

61

In [191]:
df2

,name,club,age,position,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [192]:
#from df2 isolate a df slice of players that contains only unique age-position combos for each club

df2.drop_duplicates(subset=['age', 'position', 'club'])

,name,club,age,position,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [195]:
# but we only want to see age & position so ...

df2.drop_duplicates(subset=['age', 'position', 'club']).loc[:, ['age', 'position']]

     age position
0     28       LW
1     28       AM
3     28       RW
4     31       CB
5     22       RB
..   ...      ...
460   21       CM
461   23       LB
462   23       RB
463   21       CF
464   27       CF

[433 rows x 2 columns]

## Aggreates .agg()

In [197]:
players.agg('mean')

/var/folders/ys/fqvy458x0ds2sdvqh8qgff500000gn/T/ipykernel_8285/3820880281.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  players.agg('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [198]:
players.new_signing.mean()

0.14408602150537633

In [202]:
players['new_signing'].mean()

0.14408602150537633

In [203]:
players.head(3)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0

## Same shape transform

In [205]:
# if we want to convert the market vale and fpl value columns to euros from usd

# assume usd/eur = 0.95

values = players.loc[:, ['market_value', 'fpl_value']]
values

     market_value  fpl_value
0            65.0       12.0
1            50.0        9.5
2             7.0        5.5
3            20.0        7.5
4            22.0        6.0
..            ...        ...
460           5.0        4.5
461           7.0        4.5
462           4.5        4.5
463           1.0        4.5
464          10.0        5.5

[465 rows x 2 columns]

In [206]:
values['market_value_euro'] = values.market_value*0.95
values

     market_value  fpl_value  market_value_euro
0            65.0       12.0             61.750
1            50.0        9.5             47.500
2             7.0        5.5              6.650
3            20.0        7.5             19.000
4            22.0        6.0             20.900
..            ...        ...                ...
460           5.0        4.5              4.750
461           7.0        4.5              6.650
462           4.5        4.5              4.275
463           1.0        4.5              0.950
464          10.0        5.5              9.500

[465 rows x 3 columns]

In [207]:
values['fpl_value_euro'] = values.fpl_value*0.95
values

     market_value  fpl_value  market_value_euro  fpl_value_euro
0            65.0       12.0             61.750          11.400
1            50.0        9.5             47.500           9.025
2             7.0        5.5              6.650           5.225
3            20.0        7.5             19.000           7.125
4            22.0        6.0             20.900           5.700
..            ...        ...                ...             ...
460           5.0        4.5              4.750           4.275
461           7.0        4.5              6.650           4.275
462           4.5        4.5              4.275           4.275
463           1.0        4.5              0.950           4.275
464          10.0        5.5              9.500           5.225

[465 rows x 4 columns]

In [208]:
values.sort_index(axis=1)

     fpl_value  fpl_value_euro  market_value  market_value_euro
0         12.0          11.400          65.0             61.750
1          9.5           9.025          50.0             47.500
2          5.5           5.225           7.0              6.650
3          7.5           7.125          20.0             19.000
4          6.0           5.700          22.0             20.900
..         ...             ...           ...                ...
460        4.5           4.275           5.0              4.750
461        4.5           4.275           7.0              6.650
462        4.5           4.275           4.5              4.275
463        4.5           4.275           1.0              0.950
464        5.5           5.225          10.0              9.500

[465 rows x 4 columns]

## Transform

### applies a function to a df w/o changing size or shape of the df

In [209]:
# ex using transform

# what if we wanted to vary the characters (types) in the whole df?

# we can randomly choose different string types

# import the choice function from random

# define a function that chooses

# call the function on the df

In [210]:
from random import choice

In [211]:
def random_case(x):
    functions = [x.str.swapcase, x.str.lower, x.str.upper, x.str.title]
    
    return choice(functions)()

In [213]:
players.select_dtypes(include=object).transform(random_case).head()

                name     club position fpl_sel     nationality
0     aLEXIS sANCHEZ  arsenal       LW  17.10%           Chile
1         mESUT oZIL  arsenal       AM   5.60%         Germany
2          pETR cECH  arsenal       GK   5.90%  Czech Republic
3       tHEO wALCOTT  arsenal       RW   1.50%         England
4  lAURENT kOSCIELNY  arsenal       CB   0.70%          France

In [214]:
# run multiple test cases

for i in range(5):
    print(players.select_dtypes(include=object).transform(random_case).head())

                name     club position fpl_sel     nationality
0     Alexis Sanchez  ARSENAL       Lw  17.10%           CHILE
1         Mesut Ozil  ARSENAL       Am   5.60%         GERMANY
2          Petr Cech  ARSENAL       Gk   5.90%  CZECH REPUBLIC
3       Theo Walcott  ARSENAL       Rw   1.50%         ENGLAND
4  Laurent Koscielny  ARSENAL       Cb   0.70%          FRANCE
                name     club position fpl_sel     nationality
0     ALEXIS SANCHEZ  ARSENAL       lw  17.10%           chile
1         MESUT OZIL  ARSENAL       am   5.60%         germany
2          PETR CECH  ARSENAL       gk   5.90%  czech republic
3       THEO WALCOTT  ARSENAL       rw   1.50%         england
4  LAURENT KOSCIELNY  ARSENAL       cb   0.70%          france
                name     club position fpl_sel     nationality
0     ALEXIS SANCHEZ  aRSENAL       lw  17.10%           Chile
1         MESUT OZIL  aRSENAL       am   5.60%         Germany
2          PETR CECH  aRSENAL       gk   5.90%  Czech Republic
3       THEO WALCOTT  aRSENAL       rw   1.50%         England
4  LAURENT KOSCIELNY  aRSENAL       cb   0.70%          France
                name     club position fpl_sel     nationality
0     Alexis Sanchez  arsenal       LW  17.10%           CHILE
1         Mesut Ozil  arsenal       AM   5.60%         GERMANY
2          Petr Cech  arsenal       GK   5.90%  CZECH REPUBLIC
3       Theo Walcott  arsenal       RW   1.50%         ENGLAND
4  Laurent Koscielny  arsenal       CB   0.70%          FRANCE
                name     club position fpl_sel     nationality
0     aLEXIS sANCHEZ  Arsenal       lw  17.10%           CHILE
1         mESUT oZIL  Arsenal       am   5.60%         GERMANY
2          pETR cECH  Arsenal       gk   5.90%  CZECH REPUBLIC
3       tHEO wALCOTT  Arsenal       rw   1.50%         ENGLAND
4  lAURENT kOSCIELNY  Arsenal       cb   0.70%          FRANCE

## Apply

### can do transform and aggs

In [217]:
players.apply('mean', axis=0)

/var/folders/ys/fqvy458x0ds2sdvqh8qgff500000gn/T/ipykernel_8285/600350251.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  players.apply('mean', axis=0)

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [218]:
# ex using a function

def round_floats(x):
    if x.dtype == np.float64:
        return round(x)
    
    return x

In [219]:
players.select_dtypes(np.float64).apply(round_floats).head()

   market_value  fpl_value
0          65.0       12.0
1          50.0       10.0
2           7.0        6.0
3          20.0        8.0
4          22.0        6.0

# Challenge Exercise

In [222]:
# 1. create a functions that defines popularity categories.

def get_popularity(x):
    if x < 220:
        return 'unknown'
    elif x < 600:
        return 'kind of popular'
    elif x < 2000:
        return 'popular'
    else:
        return 'super-popular'

In [223]:
# test the function
get_popularity(1000)

'popular'

In [224]:
# 2. apply the function to page views

players.page_views.apply(get_popularity)

0        super-popular
1        super-popular
2              popular
3        super-popular
4              popular
            ...
460    kind of popular
461            unknown
462            unknown
463    kind of popular
464            unknown
Name: page_views, Length: 465, dtype: object

In [225]:
# 3. add new col to df with the results, call it popularity

players['popularity'] = players.page_views.apply(get_popularity)
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [226]:
# 4. How many super popular players are there?

players.popularity.value_counts()

kind of popular    170
popular            143
unknown            115
super-popular       37
Name: popularity, dtype: int64

In [229]:
# if want to see all the players
players[players.popularity == 'super-popular']

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
6,Olivier Giroud,Arsenal,30,CF,1,22.0,2230,8.5,2.50%,116,2,France,0,4,1,1,0,super-popular
24,Lucas Perez,Arsenal,28,CF,1,15.0,2055,7.5,0.10%,20,2,Spain,0,4,1,1,1,super-popular
33,Jermain Defoe,Bournemouth,34,CF,1,5.0,3213,8.0,15.00%,166,1,England,0,6,2,0,0,super-popular
96,Eden Hazard,Chelsea,26,LW,1,75.0,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0,super-popular
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0,super-popular
99,Marcos Alonso Mendoza,Chelsea,26,LB,3,25.0,3069,7.0,12.40%,177,2,Spain,0,3,5,1,1,super-popular
103,David Luiz,Chelsea,30,CB,3,30.0,2745,6.0,20.30%,132,3,Brazil,0,4,5,1,0,super-popular
104,Cesc Fabregas,Chelsea,30,CM,2,35.0,2378,7.0,7.50%,121,2,Spain,0,4,5,1,0,super-popular
106,Victor Moses,Chelsea,26,RM,2,18.0,2537,6.5,0.20%,105,4,Nigeria,0,3,5,1,0,super-popular
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1,super-popular
147,Wayne Rooney,Everton,31,SS,1,15.0,7664,7.5,20.90%,76,1,England,0,4,7,0,0,super-popular
193,Jamie Vardy,Leicester+City,30,CF,1,15.0,2988,8.5,1.50%,161,1,England,0,4,9,0,0,super-popular
217,Roberto Firmino,Liverpool,25,SS,1,38.0,2196,8.5,20.30%,180,3,Brazil,0,3,10,1,0,super-popular
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0,super-popular
219,Sadio Mane,Liverpool,25,LW,1,40.0,3219,9.5,5.30%,156,4,Senegal,0,3,10,1,1,super-popular
230,Daniel Sturridge,Liverpool,27,CF,1,20.0,2042,8.0,4.30%,54,1,England,0,3,10,1,0,super-popular
244,Kevin De Bruyne,Manchester+City,26,AM,1,65.0,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0,super-popular
245,Sergio Aguero,Manchester+City,29,CF,1,65.0,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0,super-popular
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0,super-popular
249,Leroy Sane,Manchester+City,21,LW,1,35.0,2302,8.5,8.80%,105,2,Germany,0,1,11,1,1,super-popular
252,Yaya Toure,Manchester+City,34,CM,2,8.0,2318,6.5,2.50%,86,4,Cote d'Ivoire,0,6,11,1,0,super-popular
255,Gabriel Jesus,Manchester+City,20,CF,1,30.0,4254,10.5,15.20%,67,3,Brazil,0,1,11,1,1,super-popular
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0,super-popular
265,David de Gea,Manchester+United,26,GK,4,40.0,2126,5.5,26.10%,136,2,Spain,0,3,12,1,0,super-popular
267,Paul Pogba,Manchester+United,24,CM,2,75.0,7435,8.0,19.50%,115,2,France,0,2,12,1,1,super-popular
269,Juan Mata,Manchester+United,29,AM,1,30.0,2280,7.0,3.50%,102,2,Spain,0,4,12,1,0,super-popular
272,Anthony Martial,Manchester+United,21,CF,1,30.0,2430,8.0,0.60%,95,2,France,0,1,12,1,0,super-popular
274,Marcus Rashford,Manchester+United,19,CF,1,18.0,3668,7.5,4.80%,76,1,England,0,1,12,1,0,super-popular
275,Henrikh Mkhitaryan,Manchester+United,28,AM,1,35.0,3312,8.0,4.50%,73,4,Armenia,0,4,12,1,1,super-popular
326,Manolo Gabbiadini,Southampton,25,CF,1,15.0,2012,7.0,5.20%,38,2,Italy,0,3,14,0,0,super-popular
340,Peter Crouch,Stoke+City,36,CF,1,1.5,2656,5.0,2.90%,79,1,England,0,6,15,0,0,super-popular
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0,super-popular
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0,super-popular
383,Son Heung-min,Tottenham,25,LW,1,30.0,2185,8.0,1.60%,174,4,South Korea,0,3,17,1,0,super-popular

## Setting/Chnging Cell Values

In [230]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [232]:
# If we wanted to change Theo Walcotts position
players.loc[3, 'position'] = 'CM'
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,CM,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [233]:
# or using iloc
players.iloc[3,3] = 'RW'
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [234]:
# Can also us the the .at
players.at[3, 'position'] = 'CM'
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,CM,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [235]:
# or iat
players.iat[3,3] = 'RW'
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [242]:
# recall that at, iat are single location operators so they execute faster

%timeit players.loc[3, 'position'] = 'CM'

84.5 µs ± 1.02 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [243]:
# versus the at
%timeit players.at[3, 'position'] = 'CM'

62.6 µs ± 4.06 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [244]:
84.5/62.6

1.3498402555910542

In [245]:
players['page_views'][2] = 2001

/var/folders/ys/fqvy458x0ds2sdvqh8qgff500000gn/T/ipykernel_8285/1383370597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players['page_views'][2] = 2001

In [246]:
# this is a warngin that says it doesnt know if the df is th actual or a copy
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,CM,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [247]:
# this shows that it did, but it is not gaurenteed
# better to use the loc/iloc or at/iat methods

## Copy vs View
### 1. always assume first a copy (inplace =False)
### 2. if set inplace=True --> view
### 3. using loc/iloc and at/iat will be a VIEW

In [254]:
# if we wanted to set the positions of the first 4 players to something new

players.loc[0:3, 'position'] = ['cm', 'rw', 'cb', 'gk']
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity,players
0,Alexis Sanchez,Arsenal,28,cm,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular,cm
1,Mesut Ozil,Arsenal,28,rw,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular,rw
2,Petr Cech,Arsenal,35,cb,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular,cb
3,Theo Walcott,Arsenal,28,gk,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular,gk
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular,NaN

In [255]:
# find all the players names Aaron

players.loc[players.name.str.startswith('Aaron')]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity,players
15,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0,popular,NaN
157,Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0,kind of popular,NaN
176,Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0,kind of popular,NaN
455,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0,kind of popular,NaN

In [ ]:
# change

## Adding Columns

In [256]:
# recall we did this when we added the popularity column

In [ ]:
# first we can check the name we want to use doesnt exist

'mv_fpl_ratio' in players

False

In [260]:
players['mv_fpl_ratio'] = players['market_value'] / players['fpl_value']
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity,players,mv_fpl_ratio
0,Alexis Sanchez,Arsenal,28,cm,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular,cm,5.416667
1,Mesut Ozil,Arsenal,28,rw,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular,rw,5.263158
2,Petr Cech,Arsenal,35,cb,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular,cb,1.272727
3,Theo Walcott,Arsenal,28,gk,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular,gk,2.666667
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular,NaN,3.666667

In [261]:
# Using the insert method

# first create a series --> must be length = # rows in df, set equal to a variable

# df.insert(0, 'name_of_col', series_variable)

# the nice thing here is that the 0 is the column location, so can set where you want it to be

## Adding Rows to df
* adding rows is very inefficient
* expensive operation
* pandas relies on np arrays which relies on c
* columns are stored by data type and stored next to each other in blocks of columns
    - here the concept of the row does not exist
* so when adding a row ... every column(block) is touched

In [262]:
# can use .append() 

# create a pd.Series for each new row/record and assign it to a variable
# the series will be a dict key:values = column:entry value
# *** name the series after finishing the dict
    # }, name=4) --> this name will be the index location *****

# df.append(variable)

# for multiple entries ... can use a list in the value part of the dict

# Challenge exercise

In [269]:
# 1. from player select 4 rows and 4 columns randonly, set it to df_random

df_random = players.sample(4).sample(4, axis = 1)
df_random

            club nationality  age_cat position
400      Watford      France        4       DM
332  Southampton      Poland        1       CB
442    West+Brom       Egypt        3       CB
348   Stoke+City       Spain        3       SS

In [ ]:
# 2.  add a row and add a column

In [270]:
# add row

df_random.append(pd.Series({
    'club' : 'new jersey', 
    'nationality': 'usa',
    'age_cat' : 5.0,
    'position' : 'newbie'
    
    
}, name = 400))

/var/folders/ys/fqvy458x0ds2sdvqh8qgff500000gn/T/ipykernel_8285/113227291.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_random.append(pd.Series({

            club nationality  age_cat position
400      Watford      France      4.0       DM
332  Southampton      Poland      1.0       CB
442    West+Brom       Egypt      3.0       CB
348   Stoke+City       Spain      3.0       SS
400   new jersey         usa      5.0   newbie

In [272]:
# add a column

df_random['years_in_league'] = [3,6,10,12]
df_random

            club nationality  age_cat position  years_in_league
400      Watford      France        4       DM                3
332  Southampton      Poland        1       CB                6
442    West+Brom       Egypt        3       CB               10
348   Stoke+City       Spain        3       SS               12

In [274]:
# compare the time

#column
%timeit df_random['years_in_league'] = [3,6,10,12]

43.9 µs ± 4.05 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)