In [8]:
import pandas as pd
import numpy as np
import datetime
from openbb_terminal.sdk import openbb

In [9]:
# define start and end for the range to pull data

# end date is going to be today
end = datetime.datetime.now()

# start is going to be how far back to go, here we use 10 years
start = end - datetime.timedelta(days=365*10)

aapl = openbb.stocks.load('AAPL', start_date=start, end_date=end)
aapl

Loading Daily data for AAPL with starting period 2013-12-02.

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
date,,,,,,,,
2013-12-02,17.471210,17.669404,17.246402,17.259239,17.259239,472544800,0.0,0.0
2013-12-03,17.480603,17.733592,17.461191,17.731712,17.731712,450968000,0.0,0.0
2013-12-04,17.706033,17.821569,17.559500,17.690378,17.690378,377809600,0.0,0.0
2013-12-05,17.929906,18.007869,17.734530,17.781181,17.781181,447580000,0.0,0.0
2013-12-06,17.715120,17.745178,17.520370,17.534458,17.534458,344352400,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-11-24,190.869995,190.899994,189.250000,189.970001,189.970001,24048300,0.0,0.0
2023-11-27,189.919998,190.669998,188.899994,189.789993,189.789993,40552600,0.0,0.0
2023-11-28,189.779999,191.080002,189.399994,190.399994,190.399994,38415400,0.0,0.0
2023-11-29,190.899994,192.089996,188.970001,189.369995,189.369995,42967700,0.0,0.0
2023-11-30,189.839996,190.320007,188.190002,188.470001,188.470001,20363072,0.0,0.0

In [10]:
#drop dividends and splits & reset the index
aapl_df = aapl.copy()
aapl_df = aapl_df.drop(columns=['Dividends', 'Stock Splits']).reset_index()
aapl_df

,date,Open,High,Low,Close,Adj Close,Volume
0,2013-12-02,17.471210,17.669404,17.246402,17.259239,17.259239,472544800
1,2013-12-03,17.480603,17.733592,17.461191,17.731712,17.731712,450968000
2,2013-12-04,17.706033,17.821569,17.559500,17.690378,17.690378,377809600
3,2013-12-05,17.929906,18.007869,17.734530,17.781181,17.781181,447580000
4,2013-12-06,17.715120,17.745178,17.520370,17.534458,17.534458,344352400
...,...,...,...,...,...,...,...
2512,2023-11-24,190.869995,190.899994,189.250000,189.970001,189.970001,24048300
2513,2023-11-27,189.919998,190.669998,188.899994,189.789993,189.789993,40552600
2514,2023-11-28,189.779999,191.080002,189.399994,190.399994,190.399994,38415400
2515,2023-11-29,190.899994,192.089996,188.970001,189.369995,189.369995,42967700
2516,2023-11-30,189.839996,190.320007,188.190002,188.470001,188.470001,20363072